<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <div class="modal" id="checkModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal_head" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" name="btnModalClose">
                        <span aria-hidden="true" style="font-size:26px">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="modal_title">商品信息审核</h4>
                </div>
                <div class="modal-body" id="modal_body">
                    <div class="fa-font">
                       <p style="color:orangered">1.描述里面不可以出现违法暴力内容。</p>
                       <p style="color:orangered">2.描述里面不可以出现色情等，不和谐关键词。</p>
                       <p style="color:orangered">3.描述里面不可以出现手机号，QQ号等联系方式的内容，否者视为不通过</p>
                    </div>
                    <br />
                    <textarea class="form-control">商品的描述信息如下:此商品比较扯淡一点点都不能使用，千万不要买，买了就是傻逼傻逼抽傻逼！</textarea>
                </div>
                <div class="modal-footer" id="modal_footer" style="text-align:center;">
                    <button type="button" class="btn  btn-primary" data-loading-text="处理中..." name="CheckConfirm" id="aaaa">审核通过</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" name="CheckNo" id="bbbb">审核不通过</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" name="Cancel" id="cccc">取消</button>
                </div>
            </div>
        </div>
    </div>


    <div id="CommForm" style="padding:20px 0 20px 0;">
        <form class="form form-search form-horizontal" role="form" >
            <div class="form-group" id="lineTwo">
                <div class="col-ms-10">
                    <div class="input-group col-md-5">
                        <label class="control-label col-md-3">商品编号:</label>
                        <div class="col-md-9">
                            <input type="text" v-model="SearchParam.Param.GoodNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary form-control" value="查询" @click="findList"/>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="pull-right" id="">
                            <ul class="pagination pagination-sm m-0 m-r-5">
                                <li class="" aria-controls="DataTables_Table_0" tabindex="0"><a id="totalPageCount">共计：531条记录</a></li>
                                <li class="active" aria-controls="DataTables_Table_0" tabindex="0"><a href="#" name="">10</a></li>
                                <li class="" aria-controls="DataTables_Table_0" tabindex="0"><a href="#" name="">20</a></li>
                                <li class="" aria-controls="DataTables_Table_0" tabindex="0"><a href="#" name="">30</a></li>   
                            </ul>
                            <div class="input-group input-group-sm skip-page">
                                <span class="input-group-addon">跳转到</span>
                                <input type="text" name="name" class="form-control"/>
                                <span class="input-group-addon">页</span>
                                <span class="input-group-btn">
                                    <input type="button" value="Go!" class="btn btn-default" />
                                </span>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="success" >
                                    <th class="text-center">商品编号</th>
                                    <th class="text-center">游戏名称</th>
                                    <th class="text-center">交易类型</th>
                                    <th class="text-center">关键词</th>
                                    <th class="text-center">商品标题</th>
                                    <th class="text-center">审核商品</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in GoodInfoArray">
                                    <td>{{item.GoodNo}}</td>
                                    <td>{{item.GameName}}</td>
                                    <td>{{item.GoodTypeName}}</td>
                                    <td>{{item.GoodKeyWord}}</td>
                                    <td>{{item.GoodTitle}}</td>
                                    <td class="text-center"><input type="button" class="btn btn-primary" value="审核商品" @click="StartCheck(item.GoodNo)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right" id="">
                            <ul class="pagination pagination-sm m-0"><li class="first disabled"><a href="#">首页</a></li><li class="prev disabled"><a href="#">上一页</a></li><li class="page active"><a href="#">1</a></li><li class="next"><a href="#">下一页</a></li><li class="last"><a href="#">尾页</a></li></ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/bootstrap.min.js"></script>
<script src="../../Scripts/vue.js"></script>
<script src="../../lib/common.js"></script>
<script src="../../Scripts/app/GoodCheck.js"></script>
<link href="../../Content/bootstrap.css" rel="stylesheet" />
<link href="../../Content/generics.css" rel="stylesheet" />
<link href="../../Content/Mystyle.css" rel="stylesheet" />
