/*！
 *common style
 *author：liuzy
 *date：2017-10-27
 *explain：此部分为所有页面公用样式部分，对一些公用重构以及添加请在以下编辑修改，为不影响整体效果，请谨慎修改或编辑
 */
@charset"UTF-8";
*{box-sizing:border-box;}

html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, cite, code,del, dfn, em, ins, kbd, q, s, samp,small, strong, sub, sup, var,b, u, i, center,dl, dt, dd, ol, ul, li, form, label,table, caption, tbody, tfoot, thead, tr, th, td{margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}
fieldset,img{border:0;}
ul,ol,li{list-style:none;margin:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
a{text-decoration:none;color: #333;cursor:pointer;}
img{display:inline-block;}
[v-cloak]{display:none;}
/*padding*/
.p-n{padding:0;}
.p-xs{padding:5px;}
.p-sm{padding:10px;}
.p-md{padding:15px;}
.p-lg{padding:25px;}
.p-xl{padding:35px;}
/*margin*/
.m-sm{margin:10px;}
.m-md{margin:15px;}
.m-t-xxs{margin-top:1px;}
.m-t-xs{margin-top:5px;}
.m-t-sm{margin-top:10px;}
.m-t-md{margin-top:20px;}
.m-t-lg{margin-top:30px;}
.m-t-xl{margin-top:40px;}
.m-r-0{margin-right:0;}
.m-r-sm{margin-right:10px;}
.m-r-md{margin-right:20px;}
.m-b-sm{margin-bottom:10px;}
.m-b-md{margin-bottom:25px;}
.m-b-lg{margin-bottom:35px;}
.m-b-none{margin-bottom:0;}
/*font-size*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.e12{font-size:1.2em;}
.e13{font-size:1.3em;}
.e14{font-size:1.4em;}
.e15{font-size:1.5em;}
.e16{font-size:1.6em;}
.e20{font-size:2em;}
.w100{width:100%;}
.fb600{font-weight:600;}
.fb700{font-weight:700;}
.fb800{font-weight:800;}
.bg-white {
    background-color:#fff;
}
.pointer{cursor:pointer;}
/*border 
 *base-color:#ccc
 *base-style:solid
 *base-width:1px
 */
.b-r{border-right:1px solid #ccc;}
/*letter-spacing*/
.ls-2{letter-spacing:2px;}
.ls-10{letter-spacing:10px;}

/*------------------------navbar 通用头部导航---------------------------*/
.nav-t{border-bottom: 1px solid #eee;}
.nav-t .dropdown:hover > .dropdown-menu {display: block;}
.nav-t .navbar-right .dropdown-menu {left: 5px;right: auto;}

.nav-justified>li {width:147px;}
.nav-justified>a {color:#fff;}
/*充值提现*/
.nav-t .label-cash > a.pay,.nav-t .label-cash >a.take-out{display:inline-block;color:#fff;padding:0 10px;margin-top:5px;border-radius:5px;letter-spacing:1px;}
.nav-t .label-cash >a.pay{background-color:#00b0ff;}
.nav-t .label-cash >a.take-out{background-color:#f7536e;margin-left:6px;}
.nav-t .label-cash >a.pay:hover{background-color:#04a4eb;color:#fff;}
.nav-t .label-cash >a.take-out:hover{background-color:#ed435f;color:#fff;}

.com-header .head-search {width:1200px;margin:0 auto;}
.com-header .head-search .logo {width:315px;float:left;height:100%;line-height:100px;}
.com-module .nav-box{width:100%;height:min-content;background-color: #3b83e8;display:flex;}
.com-module .nav-box .nav {display: table;text-align: center;width:1200px;margin:0 auto;}
.com-module .nav-box .nav-justified > li {width:20%;cursor:pointer;}
.com-module .nav-box .nav-justified a {color:#fff;border-radius:0;}
.com-module .nav-box .nav-justified a:hover {background-color:#3399ff;}

/*serach 通用头部搜索*/
.f_999 {color:#999;}
.g-select {float:right;width:860px;position:relative;z-index:10;padding:6px 0 0 0;}
.g-select .tab_menu {height: 27px;position: static;margin-bottom: 0;}
.g-select .tab_menu li {display:inline-block;margin-left:0;padding:5px 10px;}
.g-select .tab_menu a {width:67px;line-height:20px;height:20px;display:block;overflow:hidden;color:#06c;text-align:center;}
.g-select .tab_menu a:hover {text-decoration:underline;}
.g-select .tab_menu .current {padding:5px 10px;background-color:#3983E8;}
.g-select .tab_menu .current a {color:#fff;font-weight:400;}
.g-select .tab_menu .current a:hover {color: #fff;text-decoration: underline;}
.g-select .btn_box {float:left;display:inline;margin-left:10px;margin-top: 2px;}
.g-select .gs_menu {width:765px;height:40px;border:4px solid #3983E8;float:left;margin-bottom:0;}
.g-select .gs_menu .gs_search_box {width:175px;height:100%;color:#999;padding:3px 8px;border:none;outline:none;}
.g-select .gs_menu .gs_search_item {width:auto;}
.g-select .gs_search_btn {width:80px;height:36px;background-color:#faa426;color:#fff;font-size:14px;letter-spacing:4px;text-indent:4px;border:none;outline:none;}
.gs_menu li {position:relative;font-size:14px;display:inline-block;height:100%;line-height:32px;cursor:pointer;width:140px;text-align:center;}
.gs_menu li:before,.gs_menu li:after {position:absolute;color:#999;}
.gs_menu li:before {content:'';top:50%;right:7px;width:0;height:0;border-top:4px dashed;border-right:4px solid transparent;border-left:4px solid transparent;}
.gs_menu li::after {content:'|';right:0;}
.gs_menu li:last-child::before{border:none;}
.gs_menu li:last-child::after{content:'';}

.gs_box {width:1100px;position:absolute;left:-344px;top:82px;z-index:998;color:#333;font-family:arial;line-height:1.5;font-size:14px;box-shadow:0 5px 5px rgba(0,0,0,0.3);}
.gs_box .hide {display:none;}
.gs_box_inner {border:2px solid #1ea5ff;padding:0 0 15px;position:relative;background:#fff;z-index:1000;}
.game_select_arrow {width:12px;height:8px;display:none;background-repeat:no-repeat;overflow:hidden;position:absolute;z-index:1000;bottom:33px;}

.gs_head {height:36px;line-height:36px;border-bottom:1px solid #eee;margin:0 15px;}
.gs_head dl {float:left;height:36px;overflow:hidden;float:left;}
.gs_head dt {float:left;padding-right:10px;}
.gs_head dd {float:left;padding-right:40px;}
.gs_head .gs_add_name {float:right;color:#666;text-decoration:underline;}
.gs_head .gs_add_name:hover {color:#f60;}
.gs_head .close_btn {width:19px;height:19px;line-height:19px;float:right;text-indent:-999em;overflow:hidden;margin:8px 0 -8px 10px;}

.gs_nav {width:auto;height:40px;line-height:40px;padding:0 15px;}
.gs_nav:after {content:'';clear:both;display:block;visibility:hidden;height:0;line-height:0;overflow:hidden;}
.gs_nav li {float:left;font-size:14px;}
.gs_nav a{color:#999;width:29px;text-align:center;display:block;outline:none;}
.gs_nav .w_70 a {width:70px;_line-height:28px;}
.gs_nav a:hover,.gs_nav .active {height:40px;border-bottom:2px solid #1ea5ff;color:#1ea5ff;font-weight:700;}

.gs_list {overflow:hidden;padding:10px 20px 0 20px;}
.gs_list li {width:150px;padding:0 0 0 7px;height:30px;line-height:30px;float:left;position:relative;padding-left:7px;}
.gs_list li:before{content:"";position: absolute;border-left: 4px solid #3b83e8;border-top: 4px solid transparent;border-bottom: 4px solid transparent;top: 35%;left: 0;}
.gs_list a {overflow:hidden;padding:0 5px;color:#333;display:inline-block;background-color:#fff;}
.gs_list a.hot {color:#ff4e00;}
.gs_list a:hover {text-decoration:none;color: #1ea5ff;}

.gs_list .f_f60 {color:#f60;}
.gs_search_item {position:relative;z-index:999;}
.gs_search_item .FED_suggest {position:absolute;top:24px;right:0;width:314px;text-align:left;border:1px solid #4c8bf8;}
.gs_search_item .FED_suggest .current,.simple_search_box .FED_suggest .current {background:#4c8bf8;color:#fff;}
.g-select .simple_search_box {float:left;position:relative;width:600px;height:40px;border:4px solid #3983E8;}
.g-select .simple_search_input {width:100%;border:0 none;padding:3px 10px;color:#999;height:100%;}
.g-select .hot_game_list {display:block;width:588px;height:18px;padding-top:7px;padding-left:20px;overflow:hidden;clear:both;display:none;}
.g-select .hot_game_list li {float:left;padding-right:12px;}
.g-select .hot_game_list a {color:#999;font-family:simsun;white-space:nowrap;}
.g-select .hot_game_list a:hover {color:#f60;}

.simple_search_box .FED_suggest {width:488px;position:absolute;top:23px;left:-1px;border:1px solid #4c8bf8;}
.gs_sort {padding:5px 15px 0;background-color:#1ea5ff;margin-bottom:0;}
.gs_sort li {display:inline-block;font-size:14px;}
.gs_sort li.drop_search_input {margin-left:3%;}
.gs_sort li.drop-close{float:right;}
.gs_sort .drop_search_input > input {padding:0 10px;font-size:12px;font-family:\5b8b\4f53;width:200px;height:26px;}
.gs_sort .drop_search_input > input::-webkit-input-placeholder {color:#777;}
.gs_sort li a {color:#fff;padding:0 30px;display:block;line-height:32px;}
.gs_sort li a:hover {text-decoration:none;}
.gs_sort li.active a {background-color:#FFF;color:#1ea5ff;font-weight:bolder;}
/*serach end*/




/*---通用底部---*/
.footer-content { background:#f8f8f8; width: 100%; min-width: 1190px;}
.footer-server-box { background: #3399ff; width: 100%; min-width: 1190px; height: 92px;}
.footer-server { width: 1190px; margin: 0 auto; overflow: hidden;}
.footer-server-dl { overflow: hidden; width: 1290px;}
.footer-server dl { float: left; margin-right: 75px; margin-top: 15px;}
.footer-server dl dt { float: left;}
.footer-server dl dt em {font-size:64px ; color: #e6f3ff;}
.footer-server dl dd { float: left; margin-left:18px;}
.footer-server dl dd h2 { color: #fff; font-size: 18px; font-family: "microsoft yahei"; margin-top: 6px; margin-bottom: 2px;}
.footer-server dl dd p { color: #1a5998;}

.footer-nav-dl { margin-left: -60px; float: left;}
.footer-nav dl { float: left; width: 110px; margin-left: 60px;}
.footer-nav dl dt { margin-bottom: 12px; font-size: 14px; font-weight: bold;}
.footer-nav dl dd p { margin-bottom: 12px;}
.wx-item.wx-item-first { margin-left: 0px;}
.wx-item { float: right; margin-left: 50px; width: 122px; text-align: center; margin-top: -10px;}
.wx-item img { border: #eee 1px solid;}
.wx-item h2 { font-weight: bold; font-size: 14px;}
.wx-item p { color: #aaa;}
.footer-link { width: 1190px; margin: 0 auto; padding: 26px 0; text-align: center; font-family:\5b8b\4f53;}
.footer-link em {color: #ccc; margin:0 14px;}
.footer-link-a { width: 100%; text-align: center; margin-bottom: 14px;}
.footer-link p { color: #aaa; margin-bottom: 18px;}
.footer-link p i { font-family: "microsoft yahei";}
.footer-link p a { color: #aaa;}
.footer-link p a:hover { color: #666;}
.footer-link-honor a { display: inline-block; *display: inline; *zoom:1; margin: 0 5px;}
.footer-01 { margin-top: 40px; border-top: #3399ff 2px solid;}
.footer-01 .footer-server { border-bottom: #eee 1px solid; padding-bottom: 22px;}
.footer-01 .footer-server-box { background: #f8f8f8; height: 102px;}
.footer-01 .footer-server dl dt em { color:#3399ff;}
.footer-01 .footer-server dl dd h2 { color: #3399ff;}
.footer-01 .footer-server dl dd p { color: #969696;}
.footer-01 .footer-link p { margin-bottom: 0;}
.footer-04 { background: transparent; margin-top: 40px;}
.footer-04 .footer-server-box { background: #fff; height: 120px;}
.footer-04 .footer-server-box .footer-server { width: 1050px;}
.footer-04 .footer-server dl { margin-top: 42px;}
.footer-04 .footer-server dl dt em { color: #ff6700; font-size: 42px;}
.footer-04 .footer-server dl dd h2 { font-size: 17px; color: #666;}
.footer-04 .footer-link-box { width: 100%; min-width: 1190px; background: #323232;} 
.footer-04 .footer-link { background: #323232; padding-top: 40px;}
.footer-04 .footer-link .footer-link-a a { color: #b3b5ba;}
.footer-04 .footer-link p { color: #666;}
.footer-04 .footer-link p a { color: #666;}


/*---------new footer---------*/
.main-footer {width:100%;background-color:#e7e7e7;padding-bottom:30px;}
.footer-nav {margin:38px auto 0 auto;padding-bottom:22px;border-bottom:#e6e6e6 1px solid;}
.footer-link-nav ul li {display:inline-block;position:relative;padding:0 10px;}
.footer-link-nav ul li:after {position:absolute;content:'|';right:0;}
.footer-link-nav ul li:last-child:after {content:''}
.yx-footer {border-top:3px solid #0AB7EC;background-color:#056ab3;font-family:"\5FAE\8F6F\96C5\9ED1",sans-serif;min-width:1000px;padding-bottom:30px;}
.yx-footer a,.yx-footer div,.yx-footer h1,.yx-footer h2,.yx-footer h3,.yx-footer h4,.yx-footer h5,.yx-footer li,.yx-footer ol,.yx-footer p,.yx-footer ul {margin:0;padding:0;}
.yx-footer ol,.yx-footer ul {list-style:none;}
.yx-footer .yx-footer-layout {margin:0 auto;}
    .yx-footer .yx-footer-layout .app img{width:100px;}
    .yx-footer .yx-footer-links {
        height: 64px;
        line-height: 64px;
        border-bottom: 1px solid #b3d1e6;
    }
.yx-footer .yx-footer-links .yx-footer-gotop {display:block;float:right;width:40px;height:40px;margin-top:12px;text-align:center;line-height:40px;}
.yx-footer .yx-footer-links .yx-footer-gotop > i {font-size:40px;color:#fff;}
.yx-footer .yx-footer-links ul li,.yx-footer .yx-footer-main ul.yx-links li {float:left;display:block;}
.yx-footer .yx-footer-links ul {display:block;height:64px;position:relative;overflow:hidden;}
.yx-footer .yx-footer-links ul li a {display:block;font-size:16px;color:#fff;text-decoration:none;}
.yx-footer .yx-footer-links ul li a:hover {color:#FFF;}
.yx-footer .yx-footer-main {margin-top:40px;}
.yx-footer .yx-footer-main ul.yx-links li h4 {color:#fff;font-size:18px;font-weight:400;line-height:1;margin-bottom:10px;}
.yx-footer .yx-footer-main ul.yx-links li ul li {float:none;line-height:20px;}
.yx-footer .yx-footer-main ul.yx-links li ul li a {font-size:12px;color:#a6c7ea;text-decoration:none;}
.yx-footer .yx-footer-main ul.yx-links li ul li a:hover {color:#fff;text-decoration:none;}
.yx-footer .yx-footer-main .app {float:right;text-align:center;}
.yx-footer .yx-footer-main .app h4 {color:#fff;font-size:18px;font-weight:400;}
.yx-footer .yx-footer-main .app .qrimg {margin-top:20px;}
.yx-footer .yx-footer-main .app .qrimg img {background-color:#fff;border:6px solid #004f87;}
.yx-footer-wide .yx-footer-layout {width:1240px;}
.yx-footer-wide .yx-footer-links ul {left:-25px;}
.yx-footer-wide .yx-footer-links ul li a {padding:0 25px;}
.yx-footer-wide .yx-footer-main .app {margin-left:40px;}
.yx-footer-wide .yx-footer-main ul.yx-links li {width:165px;}
.yx-footer .friend-link {width:1240px;margin:0 auto;height:max-content;margin-bottom:25px;}
.yx-footer .friend-link h3 {font-size:20px;padding:10px;}
.yx-footer .friend-link ul {display:flex;width:100%;}
.yx-footer .friend-link ul li {flex:1;}
.yx-footer .friend-link ul li > a {}
@media only screen and (max-width:1260px) {.yx-footer-wide .yx-footer-layout {width:1000px;}
.yx-footer-wide .yx-footer-links ul {left:-15px;}
.yx-footer-wide .yx-footer-links ul li a {padding:0 15px;}
.yx-footer-wide .yx-footer-main .app {margin-left:20px;}
.yx-footer-wide .yx-footer-main ul.yx-links li {width:125px;}
}
.yx-footer-thin .yx-footer-layout {width:1000px;}
.yx-footer-thin .yx-footer-links ul {left:-15px;}
.yx-footer-thin .yx-footer-links ul li a {padding:0 15px;}
.yx-footer-thin .yx-footer-main .app {margin-left:20px;}
.yx-footer-thin .yx-footer-main ul.yx-links li {width:125px;}
@media only screen and (min-width:1260px) {.yx-footer-thin .yx-footer-layout {width:1240px;}
.yx-footer-thin .yx-footer-links ul {left:-25px;}
.yx-footer-thin .yx-footer-links ul li a {padding:0 25px;}
.yx-footer-thin .yx-footer-main .app {margin-left:40px;}
.yx-footer-thin .yx-footer-main ul.yx-links li {width:165px;}
}
.footer-copyright{width:100%;border-top:2px solid #056ab3;padding-top:20px;position: relative;bottom: 0;}
.yx-copyright {width:960px;margin:0 auto;padding:8px 0;font-size:12px;line-height:28px;color:#333;text-align:center;overflow:hidden;clear:both;display:block;font-family:SimSun,sans-serif;}
.yx-copyright .en {font-family:Arial;}
.yx-copyright a {color:#333;text-decoration:none;}
.yx-copyright a:hover {color:#3b83e8;text-decoration:underline;}
.yx-copyright .age-warning {
        color: #f75311;
        font-weight: bold;
        font-size: 16px;
    }
    .yx-copyright .notice-warn {
        font-weight: bold;
        font-size: 14px;
    }
/*=====end footer======*/
/*----部分bootstrap重写和添加专区----*/
.form-group .form-control:focus {
    box-shadow: none;
    border-color: #3d86ea;
}
.form-group-xs .form-control {height: 26px;padding: 3px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;}
.form-group-xs select.form-control, .form-group-xs input.form-control{height: 34px;line-height: 26px;}
.form-group-xs .btn-xs{padding:3px 8px;}
.form-group-xs .input-group-addon{font-size:12px;padding:3px 5px;}




@media (min-width: 768px){
    .form-horizontal .form-group-xs .control-label{padding-top: 6px;font-size: 14px;}
}
@media (max-width:991px){
    .nav>li>a{padding:5px 8px;}
}
@media(min-width:1440px){
    .container{width:1220px;}
}
.btn-close {
    float:right;    
}
.btn-close .btn-xs{
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    height: 28px;
    width: 28px;
    line-height: 26px;
}
.btn-close .btn-xs:hover{
    color:#f0f0f0
}
.btn-default-grey{
    color:#fff;
    background-color:#666;
    border-color:#666;
}
.btn-default-grey:hover{
    color:#fff;
    background-color:#4b4a4a;
    border-color:#4b4a4a;
}
