/*！
 *公共样式
 *作者：liuzy
 *时间：2017-10-27
 *说明：此部分为所有页面公用样式部分，对一些公用重构以及添加请在以下编辑修改，为不影响整体效果，请谨慎修改或编辑
 */
@charset"UTF-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
img{display:inline-block;}
/*padding*/
.p-n{padding:0;}
.p-xs{padding:5px;}
.p-sm{padding:10px;}
.p-md{padding:15px;}
.p-lg{padding:25px;}
.p-xl{padding:35px;}
/*margin*/
.m-sm{margin:10px;}
.m-md{margin:15px;}
.m-t-xxs{margin-top:1px;}
.m-t-xs{margin-top:5px;}
.m-t-sm{margin-top:10px;}
.m-t-md{margin-top:20px;}
.m-t-lg{margin-top:30px;}
.m-t-xl{margin-top:40px;}
.m-r-0{margin-right:0;}
.m-r-sm{margin-right:10px;}
.m-r-md{margin-right:20px;}
.m-b-sm{margin-bottom:10px;}
.m-b-md{margin-bottom:20px;}
/*font-size*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.e12{font-size:1.2em;}
.e13{font-size:1.3em;}
.e14{font-size:1.4em;}
.e15{font-size:1.5em;}
.e16{font-size:1.6em;}
.e20{font-size:2em;}
/*font-weight*/
.fb600{font-weight:600;}
.fb700{font-weight:700;}
.fb800{font-weight:800;}
/*cursor:pointer*/
.pointer{cursor:pointer;}
/*border 
 *base-color:#ccc
 *base-style:solid
 *base-width:1px
 */
.b-r{border-right:1px solid #ccc;}
/*letter-spacing*/
.ls-2{letter-spacing:2px;}
.ls-10{letter-spacing:10px;}


@media (max-width:991px){
    .nav>li>a{
        padding:5px 8px;
    }
}

