@charset "utf-8";
/*===游戏列表===*/
.list-wrap { width: 1180px; margin: 0 auto;}
.scrumb { margin: 10px 0;}
.scrumb em { float: left; margin-top: 2px;}
.scrumb i { font-family: \5b8b\4f53; margin: 0 8px; float: left; margin-top: 3px;}
.scrumb a.qk { float: left; line-height: 1.5; margin-top: 1px; color: #ff6700;}

.screen-box {
    border: #e7e7e7 1px solid;
}

.screen-tit .pull-left span{
    margin-left:30px;
}
.screen-tit .pull-left span em {
    margin: 0 8px;
    color: #3399ff;
}
.screen-tit .pull-right a.sell-a {
    color: #3399ff;
}
.screen-tit .pull-right a.dealfin-a {
    color: #009944;
    margin-left:20px;
}

.screen-item{
    max-height:none;
}
.screen-item .sl-head{
    position: absolute;
    left: 10px;
    top: 12px;
    color: #999;
}
.screen-item .sl-body ul{
    margin-bottom:0;
}
.screen-item .sl-body ul li{
    float: left;
    position: relative;
    width: 94px;
    padding: 3px 0;
    padding-left: 15px;
    height: auto;
    margin-right: 15px;
}
    .screen-item .sl-body ul li.active a span.text {
        background-color: #0b7bea;
        color: #fff;
    }
    .screen-item .sl-body ul li a span.text {
        padding: 3px 10px;
    }
    .slobar-02 {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border: #e8e8e8 1px solid;
        border-top: 1px solid transparent;
        background: #fbfbfb;
    }
.slobar-02 .sch .common-input{
    width:155px;
}
.list-type-03 h2>a{
    color:#666;
}



/*===bootstrap样式覆盖===*/
/*--分页样式修改--*/
.list-wrap .pagination>li>a,.list-wrap .pagination>li>span{
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #eee;
    border-radius: 32px;
    margin: 0 5px;
    text-align: center;
    padding: 0px 5px;
    color: #4c8bf8;
}
.list-wrap .pagination>.active>a,
.list-wrap .pagination>.active>span,
.list-wrap .pagination>.active>a:hover,
.list-wrap .pagination>.active>span:hover, 
.list-wrap .pagination>.active>a:focus, 
.list-wrap .pagination>.active>span:focus{
    background-color: #4c8bf8;
    border-color: #4c8bf8;
    color:#fff;
}
.list-wrap .pagination>li:first-child >a, 
.list-wrap .pagination>li:first-child >span {
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}
.list-wrap .pagination>li:last-child >a, 
.list-wrap .pagination>li:last-child >span,
.list-wrap .pagination>li:nth-last-child(2) > a, 
.list-wrap .pagination>li:nth-last-child(2) > span{
    border-radius: 32px;
}
.list-wrap .pagination>li>a:hover, 
.list-wrap .pagination>li>span:hover, 
.list-wrap .pagination>li>a:focus, 
.list-wrap .pagination>li>span:focus{
    color: #fff;
    background-color: #4c8bf8;
    border-color: #4c8bf8;
}


/*----------------正在交易、交易完成状态-----------------*/
.btn_jywc, .btn_jyz {
    display: block;
    margin: 0 auto;
    width: 105px;
    height: 31px;
    line-height: 30px;
    background: #fffefe;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}
.btn_jyz {
    color: #8068fe;
}
.btn_jywc {
    color: #00c100;
}
.btn_jyz img, .btn_jywc img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}