/*
 *帮助中心样式 help
 *作者：liuzy
 *时间：2017-10-27
 *说明：与帮助中心有关请在以下修改编辑
 */
@charset"UTF-8";
.help{
    margin:0;
    padding:0;
}
.navbar-nav>li::after{
    content:'|';
    position: absolute;
    top: 6px;
    left: 0px;
    color:red;
    font-weight:600;
}

