/*
 *首页及其他分页样式 v1.0.0
 *作者：liuzy
 *时间：2017.11.14
 *说明：首页等PC端相关样式请在以下编辑或者修改
 */

/*header*/

/*all content
 *content navigation
 */
.com-module .nav {display: table;background-color: #3b83e8;text-align: center;}
.com-module .nav-justified > li {width:147px;}
.com-module .nav-justified a {color:#fff;border-radius:0;font-size:16px;}
.com-module .tab-content {width:1200px;margin:0 auto;}
.com-module .index-content {width:100%;height:auto;position:relative;margin:0;}

/*index content*/
.index-content .left-panel,.index-content .right-panel {float:left;height:auto;padding:10px;}
.index-content .left-panel {width:900px;}
.index-content .right-panel {width:300px;}
.index-content .left-panel .left-panel-one {width:880px;height:auto;position:relative;}
.index-content .right-panel .r-panel-tab {width:280px;}
.index-content .swiper-container {width:100%;height:100%;margin-left:auto;margin-right:auto;}
.index-content .wrapper-car {position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.index-content .car-slide {-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.index-content .car-slide img {width:880px;height:350px;}

/*index content footer*/
.index-footer {width:100%;padding:10px;}
.index-footer .foot-content {width:1180px;}

/*---买卖button---*/
.buy-sale-area {overflow:hidden;}
.buy-sale-area a {color:#fff;font-size:16px;text-align:center;display: inline-block;width: 87px;border-radius: 0;margin-right:5px;}
.buy-sale-area a:last-child{margin-right:0;}
.buy-sale-area a i{margin: 10px auto;font-size: 30px;}
.buy-sale-area a span{display:block;}

/*---qq验证---*/
.qq-check label {position:relative;height:36px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;*margin-top:-2px;}
.qq-check label span {position:absolute;left:12px;color:#aaa;top:1px;line-height:34px;cursor:text;}
.qq-check input {width:179px;height:34px;line-height:34px\9;font-size:14px;border:#eee 1px solid;border-right:none;background:#fbfbfb;padding:0 10px;vertical-align:middle;}
.qq-check a {display:inline-block;*display:inline;*zoom:1;border:#eee 1px solid;vertical-align:middle;width:58px;height:34px;line-height:34px;text-align:center;color:#32b16c;}
.qq-check a:hover {color:#333;}

/*---公告---*/
.index-tab {width:auto;}
.index-tab-top ul {overflow:hidden;display:flex;justify-content:space-between;width:280px;margin-bottom:0;flex-direction:row;flex-wrap:wrap;}
.index-tab-top ul li {height:40px;line-height:38px;flex:auto;width:auto;background-color:#f7f7f7;}
.index-tab-top ul li a {display:block;border-top:#eee 1px solid;border-bottom:#eee 1px solid;text-align:center;color:#333;letter-spacing:1px;}
.index-tab-top ul li.active > a{border-top:2px solid #3399ff;border-bottom:1px solid #fff;border-left:#eee 1px solid;border-right:#eee 1px solid;background-color:#fff;color:#3399ff;font-weight:bold;}
.index-tab-top ul li.on a {color:#ff9900;font-weight:bold;border-top:#ff9900 1px solid;border-left:#eee 1px solid;border-right:#eee 1px solid;border-bottom:#fff 1px solid;background:#fff;}

/*---首页公用右边二级box---*/
.index-tab-bot {width:280px;border:#eee 1px solid;border-top:none;}
.index-tab-bot .gg-box {width:226px;margin:0 auto;padding:16px 0 6px 0;}
.index-tab-bot .gg-box ul li {width:226px;margin-bottom:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;}
.index-tab-bot .gg-box ul li > a{color:#0b87f6;}
/*.index-tab-bot .gg-box ul li.on {color:#ed6d34;}*/

/*---手风琴轮循---*/
.tabsList-box {overflow:hidden;zoom:1;width:880px;}
.tabsList {overflow:hidden;zoom:1;width:1190px;}
.tabsList li.tit {float:left;display:inline;padding-right:2px;height:350px;zoom:1;overflow:hidden;position:relative;}
.tabsList li.tit h4 {cursor:pointer;overflow:hidden;margin:0;}
.tabsList li.tit .tabBody {position:absolute;left:169px;top:0;display:block;width:359px;height:350px;border-top:#ddd 1px solid;border-bottom:#ddd 1px solid;padding:5px 21px 0 21px;float:left;}
.tabsList li.tit.last .tabBody {border-right:#eee 1px solid;width:305px;}
.tabsList li.tit.last {padding-right:0;}
.tabsList li.tit.on.last {width:538px;}
.tabBody h2 {overflow:hidden;height:38px;line-height:38px;border-bottom:#e5e5e5 1px solid;margin:0 0 15px;font-size:100%;}
.tabBody h2.new-cj-tit {margin-bottom:12px;}
.tabBody h2 span {float:left;font-size:16px;color:#333;font-family:"microsoft yahei";}
.tabBody h2 a {float:right;color:#aaa;}
.shop-type {margin-bottom:5px;}
.shop-type ul {width:320px;height:73px;overflow:hidden;}
.shop-type ul li {float:left;width:73px;height:34px;margin-right:5px;margin-bottom:5px;}
.shop-type ul li a {display:block;width:71px;height:32px;border:#a1bef1 1px solid;text-align:center;line-height:32px;color:#333;background:#e8f7ff;}
.shop-type ul li a:hover {color:#fff;background:#3399ff;border:#3399ff 1px solid;}
.txtScroll-top {width:307px;overflow:hidden;position:relative;}
.txtScroll-top .infoList li {height:28px;line-height:28px;}
.txtScroll-top .infoList li p {display:inline-block;*display:inline;*zoom:1;width:226px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;}
.txtScroll-top .infoList li p span {color:#ed6d34;margin-right:6px;}
.txtScroll-top .infoList li em {color:#aaa;float:right;}
.txtScroll-top .infoList li em i {color:#ed6d34;}

/*---广告位---*/
 .index-adv .adv-item {width:435px;height:265px;float:left;margin-bottom:10px;}
 .index-adv .adv-item:nth-child(2n){margin-left:10px;}
 .index-adv .adv-item:hover {-moz-box-shadow:0px 2px 5px rgba(0,0,0,0.1);-webkit-box-shadow:0px 2px 5px rgba(0,0,0,0.1);box-shadow:0px 4px 6px rgba(0,0,0,0.1);}
  .index-adv .adv-item a:hover{text-decoration:none;}
 .index-adv .adv-item a.img-a {display:block;width:435px;height:180px;}
 .index-adv .adv-item dl {width:435px;height:85px;border:#eee 1px solid;border-top:none;overflow:hidden;margin-bottom:0;}
 .index-adv .adv-item dl dt {float:left;width:300px;margin-left:17px;padding-top:22px;}
 .index-adv .adv-item dl dt h2 {width:300px;margin-bottom:2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;}
 .index-adv .adv-item dl dt h2 a {color:#333;font-size:20px;font-family:"microsoft yahei";font-weight:normal;}
 .index-adv .adv-item dl dt p {color:#999;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;font-weight:400;}
 .index-adv .adv-item dl dd {float:right;width:88px;height:30px;margin-right:25px;margin-top:28px;}
 .index-adv .adv-item dl dd a {display:block;width:86px;height:28px;line-height:26px;text-align:center;border:#99ccff 1px solid;border-radius:28px;color:#3399ff;}
 .index-adv .adv-item dl dd a:hover {background:#3399ff;color:#fff;border:#3399ff 1px solid;}

/*---游戏交易排行---*/
.index-tab-bot .deal-top {width:auto;margin:0;padding:0;}
.index-tab-bot .deal-top .text-primary{color:#3399ff;}
.index-tab-bot .deal-top ul {*padding-top:3px;margin-bottom:0;}
.index-tab-bot .deal-top ul li {width:100%;overflow:hidden;line-height:22px;border-bottom:#f5f5f5 1px solid;padding:18px 10px;*padding:17px 0;margin-bottom:0}
.index-tab-bot .deal-top ul li:last-child{border-bottom:none;}
.index-tab-bot .deal-top ul li .c1 {float:left;width:20px;font-size:16px;font-family:"microsoft yahei";margin-top:-1px;*margin-top:-2px;}
.index-tab-bot .deal-top ul li .c1:not(*:root) {margin-top:0;}
body:not(:-moz-handler-blocked) .index-tab-bot .deal-top ul li .c1 {margin-top:0;}
.index-tab-bot .deal-top ul li .c1.top3 {color:#ff7700;font-weight:bold;}
.index-tab-bot .deal-top ul li .c2 {float:left;width:120px;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;}
.index-tab-bot .deal-top ul li .c3 {float:right;color:#999;}
.index-tab-bot .deal-top ul li .c4 {float:left;width:100%;text-align:center;color:#aaa;margin-top:11px;display:none;}
.index-tab-bot .deal-top ul li:hover{box-shadow: 0px 2px 8px rgba(0,0,0,0.1);}
.index-tab-bot .deal-top ul li.on .c2 {font-weight:bold;}
.index-tab-bot .deal-top ul li:hover .c4 {display:block;}

/*---合作---*/
.partner-tit {height:42px;line-height:42px;border-bottom:#eee 1px solid;width:1190px;}
.partner-tit span {float:left;font-size:20px;color:#333;font-family:"microsoft yahei";float:left;border-bottom:#3e9ef6 1px solid;}
.partner-tit a {float:right;color:#aaa;font-size:14px;}
.partner-top {margin:20px 0 20px 22px;}
.partner-top ul {width:1220px;overflow:hidden;}
.partner-top li {float:left;margin-right:60px;}
.partner-bot {overflow:hidden;text-align:left;}
.partner-bot span {float:left;margin-right:18px;}
.partner-bot .partner-bot-a {float:left;width:1120px;}
.partner-bot .partner-bot-a a {display:inline-block;*display:inline;*zoom:1;margin-bottom:10px;margin-right:12px;color:#999;}
.partner-bot .partner-bot-a a:hover {color:#666;}
.partner-bot .partner-bot-a a.more-a {color:#666;}


