/*
 *首页及其他分页样式 v1.0.0
 *作者：liuzy
 *时间：2017.11.14
 *说明：首页等PC端相关样式请在以下编辑或者修改
 */

/*header*/
.home-header .dropdown:hover > .dropdown-menu {
    display: block;
}

.home-header .navbar-right .dropdown-menu {
    left: 5px;
    right: auto;
}

.home-header .head-search {
    width: 1200px;
    margin: 0 auto;
}

    .home-header .head-search .logo {
        width: 315px;
        float: left;
    }

/*all content
 *content navigation
 */
.home-all-module .nav {
    display: table;
    background-color: #3b83e8;
    text-align: center;
}

.home-all-module .nav-justified > li {
    width: 147px;
}

.home-all-module .nav-justified a {
    color: #fff;
    border-radius: 0;
}

    .home-all-module .nav-justified a:hover {
        background-color: #206ef1;
    }

.home-all-module .tab-content {
    width: 1200px;
    margin: 0 auto;
}
/*index content*/
.home-all-module .index-content {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
}

.index-content .left-panel, .index-content .right-panel {
    float: left;
    height: auto;
    padding: 10px;
}

.index-content .left-panel {
    width: 900px;
}

.index-content .right-panel {
    width: 300px;
}

.index-content .left-panel .left-panel-one {
    width: 880px;
    height: 350px; /*border:1px solid #f36e0a;*/
    position: relative;
}

.index-content .right-panel .right-panel-one {
    width: 280px;
}

    .index-content .right-panel .right-panel-one:first-child, .index-content .right-panel .right-panel-one:nth-child(2) {
        height: 50px;
    }

.index-content .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.index-content .wrapper-car {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.index-content .car-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.index-content .car-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

    .index-content .car-slide img {
        width: 880px;
        height: 350px;
    }
/*index content footer*/
.index-footer {
    width: 100%;
    padding: 10px;
}

    .index-footer .foot-content {
        width: 1180px;
    }

/*serach*/
.game_select_box .tab_menu a, .game_select .gs_search_btn, .gs_f_search .gs_f_search_btn, .gs_box_inner .arrow, .game_select_box .left_bg, .game_select_box .right_bg, .game_select .hot_game_list, .gs_head .close_btn, .gs_nav li, .gs_list li, .gs_menu .arrow, .game_select_arrow, #searchbar_rookie_tips .fed-tipsarr span.arr-1, #searchbar_rookie_tips .fed-tipcon, .gs_f_search .gs_back_btn {
    background: url(http://img01.5173cdn.com/common/build/2.00/images/gs_sprites.png) no-repeat;
}


.f_999 {
    color: #999;
}

.game_select {
    float: right;
    width: 606px;
    position: relative;
    z-index: 1000;
    padding: 6px 0 0 0;
}

.game_select_box {
    float: left;
    width: 536px;
}

.game_select .tab_menu {
    height: 25px;
    overflow: hidden;
    position: relative;
    left: -6px;
}

    .game_select .tab_menu li {
        float: left;
        margin-left: -1px;
    }

    .game_select .tab_menu a {
        width: 67px;
        line-height: 20px;
        line-height: 22px\9;
        height: 20px;
        display: block;
        overflow: hidden;
        text-align: left;
        color: #333;
        background-position: -99px -297px;
        text-align: center;
    }

        .game_select .tab_menu a:hover {
            text-decoration: none;
        }

    .game_select .tab_menu .current a {
        color: #333;
        font-weight: bold;
    }

        .game_select .tab_menu .current a:hover {
            color: #333;
        }

.game_select .tab_box {
    width: 700px;
}

.game_select_box .left_bg {
    width: 5px;
    height: 37px;
    background-position: -95px 0;
    float: left;
    display: none;
}

.game_select_box .right_bg {
    width: 5px;
    height: 37px;
    background-position: -95px -47px;
    float: left;
    display: none;
}

.gs_menu:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.gs_menu li {
    float: left;
    font-size: 12px;
    display: inline;
}

.gs_menu .hide {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

.gs_menu .arrow {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    color: #666;
    text-indent: 8px;
    cursor: pointer;
    background-position: 100% -346px;
    padding-right: 21px;
    border-top: 1px solid #999;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.gs_menu li.gs_name {
    width: 74px;
}

.gs_menu li.gs_area {
    width: 74px;
}

.gs_menu li.gs_server {
    width: 84px;
}

.gs_menu li.gs_type {
    width: 74px;
}

.gs_menu .gs_search_box {
    width: 125px;
    height: 16px;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    border: 0 none;
    color: #999;
    float: left;
    font-family: arial;
    border-top: 1px solid #999;
    border-bottom: 1px solid #ddd;
}

.game_select .btn_box {
    float: left;
    display: inline;
    margin-left: 10px;
}

.game_select .gs_search_btn {
    width: 70px;
    height: 24px;
    border: 0 none;
    background-color: #faa426;
    background-position: 0 -322px;
    float: left;
    cursor: pointer;
    text-indent: -999em;
    font-size: 0;
    line-height: 0;
    outline: none;
}

    .game_select .gs_search_btn:hover {
        background-position: 0 -392px;
    }

.gs_box {
    width: 1000px;
    position: absolute;
    left: -394px;
    top: 64px;
    z-index: 998;
    color: #333;
    font-family: arial;
    line-height: 1.5;
    font-size: 12px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    display: none;
}

.gs_box_inner {
    width: 996px;
    border: 2px solid #1ea5ff;
    padding: 0 0 15px;
    position: relative;
    background: #fff;
    z-index: 1000;
}

.game_select_arrow {
    width: 12px;
    height: 8px;
    background-position: 0 -190px;
    display: none;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    bottom: 33px;
}

.gs_box .hide {
    display: none;
}

.gs_head {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    margin: 0 15px;
}

    .gs_head dl {
        float: left;
        height: 36px;
        overflow: hidden;
        float: left;
    }

    .gs_head dt {
        float: left;
        padding-right: 10px;
    }

    .gs_head dd {
        float: left;
        padding-right: 40px;
    }

    .gs_head .gs_add_name {
        float: right;
        color: #666;
        text-decoration: underline;
    }

        .gs_head .gs_add_name:hover {
            color: #f60;
        }

    .gs_head .close_btn {
        background-position: -81px -126px;
        width: 19px;
        height: 19px;
        line-height: 19px;
        float: right;
        text-indent: -999em;
        overflow: hidden;
        margin: 8px 0 -8px 10px;
    }

        .gs_head .close_btn:hover {
            background-position: 0 -209px;
        }

.gs_f_search {
    height: 28px;
    overflow: hidden;
    padding: 15px;
}

    .gs_f_search input {
        float: left;
    }

    .gs_f_search .gs_f_search_box {
        width: 190px;
        height: 15px;
        padding: 2px 3px;
        color: #333;
        border: 1px solid #ccc;
        margin-right: 5px;
        background-position: 0 -60px;
        box-shadow: inset 1px 2px 3px #ddd;
        height: 22px;
    }

    .gs_f_search .gs_f_search_box_default {
        color: #999;
    }

    .gs_f_search .gs_f_search_btn {
        width: 68px;
        height: 28px;
        line-height: 27px;
        float: left;
        color: #fff;
        border: 0 none;
        text-align: center;
        text-indent: -1px;
        background-position: 0 -420px;
        text-decoration: none;
    }

        .gs_f_search .gs_f_search_btn:hover {
            color: #fff;
            text-decoration: none;
            background-position: 0 -420px;
        }

    .gs_f_search .gs_back_btn {
        display: none;
        float: left;
        color: #FFF;
        text-align: left;
        text-indent: 18px;
        background-position: 0 -505px;
        width: 52px;
        height: 29px;
        line-height: 29px;
        margin-right: 10px;
    }

        .gs_f_search .gs_back_btn:hover {
            background-position: 0 -540px;
            text-decoration: none;
        }

.gs_result_f_search .gs_back_btn {
    display: block;
}

.gs_result_f_search .gs_f_search_btn {
    background-position: 0 -580px;
    color: #666;
}

    .gs_result_f_search .gs_f_search_btn:hover {
        background-position: 0 -610px;
        color: #666;
    }

.gs_nav {
    width: auto;
    height: 40px;
    line-height: 40px;
    background-position: 0 -180px;
    background-repeat: repeat-x;
    padding: 0 15px;
}

    .gs_nav:after {
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }

    .gs_nav li {
        float: left;
        font-size: 14px;
        background-position: 100% -207px;
    }

    .gs_nav .first_line, .gs_nav .last_line {
        width: 1px;
        background: #d1e3fe;
        height: 25px;
        float: left;
        overflow: hidden;
        display: none;
    }

    .gs_nav .last_line {
        float: right;
    }

    .gs_nav a {
        color: #999;
        width: 29px;
        text-align: center;
        display: block;
        outline: none;
    }

    .gs_nav .w_70 a {
        width: 70px;
        _line-height: 28px;
    }

    .gs_nav a:hover, .gs_nav .active {
        height: 38px;
        text-decoration: none;
        position: relative;
        border-bottom: 2px solid #1ea5ff;
        color: #1ea5ff;
        font-weight: 700;
    }

.gs_list {
    width: 958px;
    overflow: hidden;
    padding: 10px 20px 0 20px;
    position: relative;
}

.gs_list_padding {
    padding-left: 85px;
}

.gs_list li {
    width: 152px;
    padding: 5px 0 5px 3px;
    height: 30px;
    float: left;
    background-position: -97px -181px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.gs_list a {
    height: 20px;
    line-height: 20px;
    _line-height: 22px;
    overflow: hidden;
    padding: 0 5px;
    color: #333;
    display: inline-block;
    background-color: #fff;
}

    .gs_list a.hot {
        color: #ff4e00;
    }

    .gs_list a:hover {
        color: #fff;
        background: #4b8af6;
        text-decoration: none;
    }

.gs_list .gs_tip {
    width: 700px;
    height: 32px;
    line-height: 32px;
    background: 0 none;
    color: #999;
    padding: 20px 0 10px;
    font-size: 14px;
}

    .gs_list .gs_tip img {
        float: left;
        margin-right: 5px;
    }

.gs_list .gs_search_result {
    width: 700px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bolder;
    background: 0 none;
    float: none;
}

.gs_list .gs_none_result {
    width: 700px;
    background: 0 none;
    float: none;
    color: #999;
    padding: 0 0 0 3px;
}

.gs_list .gs_add_name {
    width: 700px;
    background: 0 none;
    float: none;
    padding: 0 0 0 3px;
    color: #666;
    margin-top: 5px;
}

    .gs_list .gs_add_name a {
        height: auto;
        padding: 0;
        display: inline;
        color: #06c;
        text-decoration: underline;
    }

        .gs_list .gs_add_name a:hover {
            color: #f60;
            background: none;
            text-decoration: underline;
        }

.gs_list .gs_nofind {
    float: none;
    padding: 0;
    height: 40px;
    width: auto;
    clear: both;
    background: 0 none;
    padding-top: 15px;
}

    .gs_list .gs_nofind span {
        display: block;
        height: 40px;
        overflow: hidden;
        line-height: 50px;
        border-top: 1px solid #E8E8E8;
    }

    .gs_list .gs_nofind a {
        display: inline;
        height: 30px;
        line-height: 30px;
        color: #06C;
        text-decoration: underline;
    }

        .gs_list .gs_nofind a:hover {
            background: none;
            color: #F60;
        }

.gs_list .gs_result_ico {
    width: 48px;
    height: 52px;
    position: absolute;
    left: 22px;
    background: none;
    top: 20px;
}

.gs_list .f_f60 {
    color: #f60;
}

.gs_search_item {
    position: relative;
    z-index: 999;
}

    .gs_search_item .FED_suggest {
        position: absolute;
        top: 24px;
        right: 0;
        width: 314px;
        text-align: left;
        border: 1px solid #4c8bf8;
    }

        .gs_search_item .FED_suggest .current, .simple_search_box .FED_suggest .current {
            background: #4c8bf8;
            color: #fff;
        }

.simple_search_box {
    width: 535px;
    float: left;
    height: 22px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.simple_search_input {
    width: 525px;
    border: 0 none;
    padding: 3px 5px;
    color: #999;
    height: 16px;
    float: left;
}

.simple_search_box .FED_suggest {
    width: 488px;
    position: absolute;
    top: 23px;
    left: -1px;
    border: 1px solid #4c8bf8;
}

.game_select .hot_game_list {
    width: 550px;
    height: 18px;
    padding-top: 7px;
    background-position: -85px -268px;
    padding-left: 20px;
    overflow: hidden;
    clear: both;
    display: none;
}

    .game_select .hot_game_list li {
        float: left;
        padding-right: 12px;
    }

    .game_select .hot_game_list a {
        color: #999;
        font-family: simsun;
        white-space: nowrap;
    }

        .game_select .hot_game_list a:hover {
            color: #f60;
        }

.game_select_main {
    float: left;
    margin-left: 62px;
    width: 564px;
    background: #fff;
}

    .game_select_main .game_select_box {
        float: left;
        width: 498px;
    }

    .game_select_main .tab_menu {
        height: 27px;
        position: static;
        margin-bottom: 0;
    }

        .game_select_main .tab_menu li {
            margin: 0;
            padding: 5px 10px;
        }

        .game_select_main .tab_menu a {
            color: #06c;
            background-position: -999em -999em;
        }

            .game_select_main .tab_menu a:hover {
                text-decoration: none;
            }

        .game_select_main .tab_menu .current {
            padding: 5px 10px;
            background-color: #3983E8;
        }

            .game_select_main .tab_menu .current a {
                color: #fff;
                font-weight: 400;
            }

                .game_select_main .tab_menu .current a:hover {
                    color: #fff;
                }

    /*.game_select_main .tab_box {
        width: 498px;
    }*/

    .game_select_main .tab_box_reset .simple_search_box {
        width: 588px;
    }

    .game_select_main .tab_box_reset .simple_search_input {
        width: 578px;
    }

    .game_select_main .left_bg {
        display: inline;
    }

    .game_select_main .right_bg {
        display: inline;
    }

    .game_select_main .gs_menu {
        width: 587px;
        height: 40px;
        border: 4px solid #3983E8;
        float: left;
    }

        .game_select_main .gs_menu .arrow {
            height: 29px;
            line-height: 29px;
            color: #333;
            text-indent: 8px;
            cursor: pointer;
            background-position: 100% -238px;
            padding-right: 12px;
            border: 0 none;
            width: 100px;
            text-align: center;
        }

        .game_select_main .gs_menu .gs_search_box {
            width: 179px;
            height: 29px;
            padding: 16px 20px;
            font-size: 12px;
            line-height: 16px;
            overflow: hidden;
            border: 0 none;
            color: #999;
        }

        .game_select_main .gs_menu .gs_search_box_reset {
            width: 120px;
        }


    .game_select_main .gs_search_btn {
        width: 80px;
        height: 37px;
        background-color: #faa426;
        background-position: 0 -30px;
    }

        .game_select_main .gs_search_btn:hover {
            background-position: 0 -283px;
        }

    .game_select_main .simple_search_box {
        width: 488px;
        height: 29px;
        border: 4px solid #3983E8;
        border-width: 4px 0;
    }

    .game_select_main .simple_search_input {
        width: 478px;
        padding: 7px 5px;
        height: 15px;
    }

    .game_select_main .gs_box {
        left: -232px;
        top: 72px;
    }

    .game_select_main .hot_game_list {
        display: block;
    }

.gs_sort {
    padding: 5px 15px 0;
    background-color: #1ea5ff;
    margin-bottom: 0;
}

    .gs_sort li {
        display: inline-block;
        border-bottom: 0 none;
        font-size: 14px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

        .gs_sort li.drop_search_input {
            margin-left: 3%;
        }

    .gs_sort .drop_search_input > input {
        height: 26px;
        padding: 0 10px;
        position: absolute;
        top: 5px;
        font-size: 12px;
        font-family: \5b8b\4f53;
        width: 200px;
    }

        .gs_sort .drop_search_input > input::-webkit-input-placeholder {
            color: #666;
        }

    .gs_sort li a {
        color: #fff;
        padding: 0 30px;
        display: block;
        line-height: 32px;
    }

        .gs_sort li a:hover {
            text-decoration: none;
        }

    .gs_sort li.active {
        font-weight: bolder;
    }

        .gs_sort li.active a {
            background-color: #FFF;
            color: #1ea5ff;
        }



#gameSelectV2 {
    float: right;
    width: 800px;
}

    #gameSelectV2 .game_select_box {
        width: 598px;
    }

    #gameSelectV2 .gs_box {
        left: -316px;
    }

    /*#gameSelectV2 .tab_box {
        width: 598px;
    }*/

    #gameSelectV2 .game_select .hot_game_list {
        width: 588px;
        height: 18px;
        padding-top: 7px;
        background-position: -85px -268px;
        padding-left: 20px;
        overflow: hidden;
        clear: both;
        display: none;
    }

#searchbar_rookie_tips {
    width: 316px;
    height: 20px;
    z-index: 999;
    position: relative;
    top: -7px;
    padding-left: 30px;
}

    #searchbar_rookie_tips .fed-toolstip {
        padding: 5px 0;
        background: #FFFDE6;
        border: 1px solid #FED99D;
        position: relative;
    }

    #searchbar_rookie_tips .fed-tipcon {
        padding: 0 5px 0 30px;
        background-color: #FFFDE6;
        height: 18px;
        background-position: -77px -427px;
    }

    #searchbar_rookie_tips .fed-toolstip .fed-tipcon p {
        color: #F60;
    }

    #searchbar_rookie_tips .fed-tipsarr {
        font-size: 18px;
    }

    #searchbar_rookie_tips .fed-arrleft {
        left: -8px;
    }

    #searchbar_rookie_tips .fed-tipsarr span.arr-1 {
        left: -2px;
        top: 6px;
        color: #FED99D;
        width: 10px;
        height: 10px;
        background-position: -90px -490px;
        font-size: 18px;
    }

    #searchbar_rookie_tips .fed-tipsarr span.arr-2 {
        left: -1px;
        top: -1px;
        color: #FFFDE6;
        width: 10px;
        font-size: 18px;
        display: none;
    }

    #searchbar_rookie_tips .close {
        color: #CCC;
        position: absolute;
        right: 5px;
        top: -2px;
        font-weight: bolder;
        font-size: 16px;
    }

        #searchbar_rookie_tips .close:hover {
            color: #CCC;
            text-decoration: none;
        }

    #searchbar_rookie_tips .fed-arrleft {
        top: 2px;
    }

    #searchbar_rookie_tips .fed-toolstip .fed-tipsclose {
        height: 10px;
        line-height: 10px;
        top: 5px;
        _top: 2px;
        right: 3px;
        _right: 10px;
        position: absolute;
        font-size: 20px;
        color: #C6C6C6;
    }

/*买卖button*/
.buy-sale-area {
    overflow: hidden;
    margin-bottom: 10px;
}

    .buy-sale-area a {
        display: block;
        width: 127px;
        font-family: "microsoft yahei";
        height: 45px;
        line-height: 45px;
        float: left;
        background: #eb6100;
        color: #fff;
        font-size: 20px;
        text-align: center;
    }

        .buy-sale-area a.sale-btn {
            background: #22ac38;
            float: right;
        }

        .buy-sale-area a:hover {
            background: #ff700b;
        }

        .buy-sale-area a.sale-btn:hover {
            background: #20bb39;
        }

/*qq验证*/
.qq-yz label {
    position: relative;
    height: 36px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    *margin-top: -2px;
}

    .qq-yz label span {
        position: absolute;
        left: 12px;
        color: #aaa;
        top: 1px;
        line-height: 34px;
        cursor: text;
    }

.qq-yz input {
    width: 179px;
    height: 34px;
    line-height: 34px\9;
    font-size: 14px;
    border: #eee 1px solid;
    border-right: none;
    background: #fbfbfb;
    padding: 0 10px;
    vertical-align: middle;
}

.qq-yz a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: #eee 1px solid;
    vertical-align: middle;
    width: 58px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #32b16c;
}

    .qq-yz a:hover {
        color: #333;
    }

/*公告*/
.index-tab {
    width: 280px;
}

.index-tab-top {
}

    .index-tab-top ul {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

        .index-tab-top ul li {
            height: 40px;
            line-height: 38px;
            float: left;
            display: block;
        }

            .index-tab-top ul li a {
                display: block;
                border-top: #eee 1px solid;
                border-bottom: #eee 1px solid;
                text-align: center;
            }

            .index-tab-top ul li.on a {
                color: #ff9900;
                font-weight: bold;
                border-top: #ff9900 1px solid;
                border-left: #eee 1px solid;
                border-right: #eee 1px solid;
                border-bottom: #fff 1px solid;
                background: #fff;
            }

    .index-tab-top.tab-03 ul li {
        width: 86px;
    }

        .index-tab-top.tab-03 ul li.last-tab-li {
            width: 87px !important;
        }

            .index-tab-top.tab-03 ul li.last-tab-li a {
                width: 87px;
                border-right: #eee 1px solid;
            }

            .index-tab-top.tab-03 ul li.last-tab-li.on a {
                width: 86px;
            }

    .index-tab-top.tab-02 ul li {
        width: 50%;
    }

.index-tab-bot {
    width: 280px;
    border: #eee 1px solid;
    border-top: none;
}

.gg-box {
    width: 226px;
    margin: 0 auto;
    padding: 16px 0 8px 0;
}

    .gg-box ul li {
        width: 226px;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: normal;
        color: #666;
    }

        .gg-box ul li.on {
            color: #ed6d34;
        }

            .gg-box ul li.on a {
                color: #ed6d34;
            }

/*手风琴轮循*/
.tabsList-box {
    overflow: hidden;
    zoom: 1;
    width: 880px;
}

.tabsList {
    overflow: hidden;
    zoom: 1;
    width: 1190px;
}

    .tabsList li.tit {
        float: left;
        display: inline;
        padding-right: 1px;
        height: 350px;
        zoom: 1;
        overflow: hidden;
        position: relative;
    }

        .tabsList li.tit h4 {
            width: 170px;
            height: 350px;
            cursor: pointer;
            float: left;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
        }

        /*.tabsList li.tit.on {
            padding-right: 0;
            width: 539px;
        }*/

        .tabsList li.tit .tabBody {
            position: absolute;
            left: 169px;
            top: 0;
            display: block;
            width: 359px;
            height: 350px;
            border-top: #eee 1px solid;
            border-bottom: #eee 1px solid;
            padding: 5px 21px 0 21px;
            float: left;
        }

        .tabsList li.tit.last .tabBody {
            border-right: #eee 1px solid;
            width: 305px;
        }

        .tabsList li.tit.last {
            padding-right: 0;
        }

        .tabsList li.tit.on.last {
            width: 538px;
        }

.tabBody h2 {
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    border-bottom: #f5f5f5 1px solid;
    margin-bottom: 18px;
}

    .tabBody h2.new-cj-tit {
        margin-bottom: 12px;
    }

    .tabBody h2 span {
        float: left;
        font-size: 16px;
        color: #333;
        font-family: "microsoft yahei";
    }

    .tabBody h2 a {
        float: right;
        color: #aaa;
    }

.shop-type {
    margin-bottom: 5px;
}

    .shop-type ul {
        width: 320px;
        height: 73px;
        overflow: hidden;
    }

        .shop-type ul li {
            float: left;
            width: 73px;
            height: 34px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

            .shop-type ul li a {
                display: block;
                width: 71px;
                height: 32px;
                border: #a1bef1 1px solid;
                text-align: center;
                line-height: 32px;
                color: #333;
                background: #e8f7ff;
            }

                .shop-type ul li a:hover {
                    color: #fff;
                    background: #3399ff;
                    border: #3399ff 1px solid;
                }

.txtScroll-top {
    width: 307px;
    overflow: hidden;
    position: relative;
}

    .txtScroll-top .infoList li {
        height: 28px;
        line-height: 28px;
    }

        .txtScroll-top .infoList li p {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 226px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: normal;
        }

            .txtScroll-top .infoList li p span {
                color: #ed6d34;
                margin-right: 6px;
            }

        .txtScroll-top .infoList li em {
            color: #aaa;
            float: right;
        }

            .txtScroll-top .infoList li em i {
                color: #ed6d34;
            }

/*广告位*/
.index-adv-box {
    float: left;
    width: 880px;
}

    .index-adv-box .index-adv {
        margin-left: -10px;
    }

        .index-adv-box .index-adv .adv-item {
            width: 435px;
            height: 265px;
            float: left;
            margin-left: 10px;
            margin-bottom: 10px;
        }

            .index-adv-box .index-adv .adv-item:hover {
                -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
                -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
                box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
            }

            .index-adv-box .index-adv .adv-item a.img-a {
                display: block;
                width: 435px;
                height: 180px;
            }

            .index-adv-box .index-adv .adv-item dl {
                width: 435px;
                height: 86px;
                border: #eee 1px solid;
                border-top: none;
                overflow: hidden;
            }

                .index-adv-box .index-adv .adv-item dl dt {
                    float: left;
                    width: 300px;
                    margin-left: 17px;
                    margin-top: 21px;
                }

                    .index-adv-box .index-adv .adv-item dl dt h2 {
                        width: 300px;
                        margin-bottom: 2px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: normal;
                    }

                        .index-adv-box .index-adv .adv-item dl dt h2 a {
                            color: #333;
                            font-size: 20px;
                            font-family: "microsoft yahei";
                            font-weight: normal;
                        }

                    .index-adv-box .index-adv .adv-item dl dt p {
                        width: 300px;
                        color: #999;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: normal;
                    }

                .index-adv-box .index-adv .adv-item dl dd {
                    float: right;
                    width: 88px;
                    height: 30px;
                    margin-right: 25px;
                    margin-top: 28px;
                }

                    .index-adv-box .index-adv .adv-item dl dd a {
                        display: block;
                        width: 86px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        border: #99ccff 1px solid;
                        border-radius: 28px;
                        color: #3399ff;
                    }

                        .index-adv-box .index-adv .adv-item dl dd a:hover {
                            background: #3399ff;
                            color: #fff;
                            border: #3399ff 1px solid;
                        }
/*游戏交易排行*/
.deal-top-box {
    width: 218px;
    margin: 0 auto;
}

    .deal-top-box ul {
        *padding-top: 3px;
    }

        .deal-top-box ul li {
            overflow: hidden;
            line-height: 22px;
            border-bottom: #f5f5f5 1px solid;
            padding: 18px 0;
            *padding: 17px 0;
        }

            .deal-top-box ul li .c1 {
                float: left;
                width: 20px;
                font-size: 16px;
                font-family: "microsoft yahei";
                margin-top: -1px;
                *margin-top: -2px;
            }

                .deal-top-box ul li .c1:not(*:root) {
                    margin-top: 0;
                }

body:not(:-moz-handler-blocked) .deal-top-box ul li .c1 {
    margin-top: 0;
}

.deal-top-box ul li .c1.top3 {
    color: #ff7700;
    font-weight: bold;
}

.deal-top-box ul li .c2 {
    float: left;
    width: 120px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.deal-top-box ul li .c3 {
    float: right;
    color: #999;
}

.deal-top-box ul li .c4 {
    float: left;
    width: 100%;
    text-align: center;
    color: #aaa;
    margin-top: 11px;
    display: none;
}

.deal-top-box ul li.on .c2 {
    font-weight: bold;
}

.deal-top-box ul li.on .c4 {
    display: block;
}

/*合作*/
.partner-tit {
    height: 42px;
    line-height: 42px;
    border-bottom: #eee 1px solid;
    width: 1190px;
}

    .partner-tit span {
        float: left;
        font-size: 20px;
        color: #333;
        font-family: "microsoft yahei";
        float: left;
        border-bottom: #58afff 1px solid;
    }

    .partner-tit a {
        float: right;
        color: #aaa;
        font-size: 14px;
    }

.partner-top {
    margin: 20px 0 20px 22px;
}

    .partner-top ul {
        width: 1220px;
        overflow: hidden;
    }

    .partner-top li {
        float: left;
        margin-right: 60px;
    }

.partner-bot {
    overflow: hidden;
    text-align: left;
}

    .partner-bot span {
        float: left;
        margin-right: 18px;
    }

    .partner-bot .partner-bot-a {
        float: left;
        width: 1120px;
    }

        .partner-bot .partner-bot-a a {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-bottom: 10px;
            margin-right: 12px;
            color: #999;
        }

            .partner-bot .partner-bot-a a:hover {
                color: #666;
            }

            .partner-bot .partner-bot-a a.more-a {
                color: #666;
            }
