@charset"utf-8";
/*.personal-center a:hover{color:#f90;text-decoration:none;}*/

/*====当前位置====*/
.b-link{height: 30px;line-height: 30px;margin:15px 0;}
.b-link a:not(:first-child){color:#f90;}
.b-link .b-home:hover{color:#f90;text-decoration:underline;}

/*====左边导航====*/
.left-nav-title {color: #fff;background-color: #3b83e8;font-size: 14px;margin: 0;padding: 10px 0;}
.left-nav a:hover {color: #f90;text-decoration: underline;}
.left-nav>a{display:block;padding:5px 10px;background:-moz-linear-gradient(#fff,#eee);background: linear-gradient(#fff,#eee);border: 1px solid #eee;}
.left-nav ul{margin-bottom:0;}
.left-nav ul li{text-align:left;}
.left-nav ul li.text-center{text-align:center;}
.left-nav .list-group-item:last-child{border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.left-nav .list-group-item:first-child{border-top-right-radius: 0;border-top-left-radius: 0;}

.left-nav.personal-info{
    margin-bottom:10px;
}
.personal-info .info-list{
    border:1px solid #ddd;
    padding:8px 10px;
}
.personal-info .info-list >li{
    padding:5px 0;
}
.personal-info .info-list a.enter-account{
    display: block;
    border: 1px solid #3399ff;
    text-align: center;
    color: #3399ff;
}
.personal-info .info-list .user-name{
    font-weight:bold;
}
.personal-info .info-list .balance{
    font-weight:bold;
    color:#ff9b00;
}


/*====右边表单====*/
.right-buy-title{margin:0;}

.game-order-list{
    padding:0;
}
.game-order-list .list-num-group{
    float:right;
    margin-top:0;
}
.game-order-list .list-num-group .pagination{
    margin:0;
    cursor:pointer;
}
.list-num-group .pagination>li>a,.list-num-group .pagination>li>span{
    padding:4px 10px;
}

.game-order-list .nave{
    width:100%;
    height:32px;
    border-bottom: #d2e6ff solid 1px;
}
.game-order-list .nave ul{
    margin-bottom:0;
    height: 30px;
    line-height: 30px;
}
.game-order-list .nave ul li{
    display: inline-block;
    width: 120px;
    text-align: center;
    background: #e8f2ff;
    border: #d2e6ff solid 1px;
    margin-right: 5px;
    cursor:pointer;
}
.game-order-list .nave ul li.active{
    background: #FFF;
    border-bottom: #FFF solid 1px;
    font-weight: bold;
}
.game-order-list .nave ul li>a{
    color:#3366cc;
}
.game-order-list .nave ul li.active>a{
    color:#000;
}

/*====bootstrap 样式重构区=====*/
.personal-center .btn-sm,.personal-center .btn-group-sm>.btn{
    padding:3px 10px;
}

