@charset"utf-8";
/*.per-mid a:hover{color:#f90;text-decoration:none;}*/

.per-mid .main-row .wd-sm{
    width:240px;
}
.per-mid .main-row .wd-lg{
    width:960px;
}
.per-mid .main-row .wd-sm a{
    color:#3d86ea;
}
/*====当前位置====*/
.b-link{height: 30px;line-height: 30px;margin:15px 0;}
.b-link a:not(:first-child){color:#f90;}
.b-link .b-home:hover{color:#f90;text-decoration:underline;}

/*====左边导航====*/
.left-nav{margin-bottom:10px;}
.left-nav-title {color: #fff;background-color: #3b83e8;font-size: 14px;margin: 0;padding: 10px 0;}
.left-nav a:hover {color: #f90;text-decoration: underline;}
.left-nav>a{display:block;padding:5px 10px;background:-moz-linear-gradient(#fff,#eee);background: linear-gradient(#fff,#eee);border: 1px solid #eee;}
.left-nav ul{margin-bottom:0;}
.left-nav ul li{text-align:left;}
.left-nav ul li.text-center{text-align:center;}
.left-nav .list-group-item:last-child{border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.left-nav .list-group-item:first-child{border-top-right-radius: 0;border-top-left-radius: 0;}


.personal-info .info-list{
    border:1px solid #ddd;
    padding:8px 10px;
}
.personal-info .info-list >li{
    padding:5px 0;
}
.personal-info .info-list a.enter-account{
    display: block;
    border: 1px solid #3399ff;
    text-align: center;
    color: #3399ff;
}
.personal-info .info-list .user-name{
    font-weight:bold;
}
.personal-info .info-list .balance{
    font-weight:bold;
    color:#ff9b00;
    /*#25b7aa*/
}


/*====右边表单====*/
.right-buy-title{margin:0;}

.game-order-list{
    padding:0;
}
.game-order-list .list-num-group{
    float:right;
    margin-top:0;
}
.game-order-list .list-num-group .pagination{
    margin:0;
    cursor:pointer;
}
.list-num-group .pagination>li>a,.list-num-group .pagination>li>span{
    padding:4px 10px;
}

.game-order-list .nave{
    width:100%;
    height:32px;
    border-bottom: #d2e6ff solid 1px;
}
.game-order-list .nave ul{
    margin-bottom:0;
    height: 30px;
    line-height: 30px;
}
.game-order-list .nave ul li{
    display: inline-block;
    width: 120px;
    text-align: center;
    background: #e8f2ff;
    border: #d2e6ff solid 1px;
    margin-right: 5px;
    cursor:pointer;
}
.game-order-list .nave ul li.active{
    background: #FFF;
    border-bottom: #FFF solid 1px;
    font-weight: bold;
}
.game-order-list .nave ul li>a{
    color:#3366cc;
}
.game-order-list .nave ul li.active>a{
    color:#000;
}

/*====bootstrap 样式重构区=====*/
.per-mid .btn-sm,.per-mid .btn-group-sm>.btn{
    padding:3px 10px;
}

/*--------------右边余额信息------------*/
.umiddle { position: relative; width: 100%; z-index: 5; }

.umbox h5,#userInfo .hd p {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(#fff,#eee);
    color: #3d86ea;
}

#userInfo {height: 240px;width: 100%;border:1px solid #c3c3c3;}
#userInfo .hd{border-bottom:1px solid #c3c3c3;background-color:#e8e8e8;}

#userInfo .bd { height: 173px; padding: 10px; position: relative}
#userInfo .bd ul li { float: left; line-height: 25px; padding-right: 20px }

#userInfo .bd .allNum { background: url("http://s.img898.com/user/png/files/capitalLine.gif") no-repeat scroll right 0 transparent; float: left; height: 75px; margin-right: 10px; padding-right: 15px; position: relative }
#userInfo .bd .balance { color: #808080; float: left; display: inline; font-size: 14px; overflow: hidden }
#userInfo .bd .balance b { font-size: 20px; font-family: Arial; font-weight: normal }
#userInfo .bd .ui-tit-m { color: #595959; font-size: 14px; font-weight: bold; line-height: 35px }
#userInfo .bd .enableNum { position: relative }
#userInfo .bd .enableNum a { background: url("http://s.img898.com/user/png/files/ui-button.gif") no-repeat; display: inline-block; font-size: 13px; font-weight: bold; padding: 5px 23px; _padding: 7px 23px; font-family: 微软雅黑 }
#userInfo .bd .enableNum a:hover { text-decoration: none }
#userInfo .bd .enableNum .action { display: inline; float: left; margin-left: 8px }
#userInfo .bd .enableNum a.ui-button-in { background-position: 0 0; color: #fff }
#userInfo .bd .enableNum a.ui-button-out { background-position: -84px 0; color: #fff }
#userInfo .bd .entrance { color: #808080; padding-top: 4px; position: absolute; left: 0; top: 70px }
#userInfo .bd .entrance a { background: 0; color: #36c; font-size: 12px; font-weight: normal; padding: 0 }
.global-separator-pd { color: #ccc; padding: 0 5px }
#userInfo .extralink { float: left; left: 10px; overflow: hidden; position: absolute; top: 85px; width: 510px }
#userInfo .extralink ul li { color: #666; float: left; height: 24px; line-height: 24px; padding: 0; width: 250px }
#userInfo .extralink .u3bar li { width: 100% }
#userInfo .extralink ul li a { color: #36c; padding: 0 5px }
.umbox {    height: 227px;
    border: 1px #c3c3c3 solid;
    width: 100%;
    margin-bottom: 20px;}
.umbox .bd { padding: 10px }

/*右边检测条*/
.uaql .progress-m{
    float:left;
        width: 65%;
    background: #fdfdfcf5;
    border-radius: 20px;
    height: 20px;
    box-shadow: 0px 0px 3px #000;
    overflow:hidden;
}
.uaql .progress-m .progress-bar{
    height:20px;
}

#capitalInfo .bd { height: 160px; padding-top: 10px; position: relative }
#capitalInfo .uaql { height: 90px;margin-right: 15px;width: 600px;}
#capitalInfo .uaql .ual1 dt { color: #404040; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; font-family: 微软雅黑 }
#capitalInfo .uaql .ual1 p { height: 35px }
#capitalInfo .uaql .bad dd { background-position: 0 0; *background-position: 0 0}
#capitalInfo .uaql .normal dd { background-position: 0 -13px; *background-position: 0 -13px}
#capitalInfo dl{margin-bottom:0;}
#capitalInfo .uaql .good dd { background-position: 0 -39px }
#capitalInfo .uaql .verygood dd { background-position: 0 -26px }
#capitalInfo .uaql .bad b { color: #f00 }
#capitalInfo .uaql .normal b { color: #f00 }
#capitalInfo .uaql .good b { color: #f00 }
#capitalInfo .uaql .verygood b { color: #f00 }
#capitalInfo .uaqed { left: 10px; position: absolute; top: 110px; width: 500px }
#capitalInfo .uaqed li { float: left; padding-left: 20px; padding-right: 10px }
#capitalInfo .uaqr dl dt { line-height: 15px }
#capitalInfo .uaqr dl dd { color: #666 }
#capitalInfo .uaqr dl dd a { color: #36c }

