<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BayetechEntities" connectionString="metadata=res://*/Entity.Bayetech.csdl|res://*/Entity.Bayetech.ssdl|res://*/Entity.Bayetech.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=47.98.176.184;initial catalog=Bayetech;persist security info=True;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>