<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>编辑游戏基本信息</title>
	<meta charset="utf-8" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/generics.css" rel="stylesheet" />
    <link href="../../Content/Mystyle.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="app" style="padding:20px 0 20px 0;">
        <form class="form form-search form-horizontal" role="form">
            <div class="form-group" id="lineTwo">
                <div class="col-ms-10">
                    <div class="input-group col-md-4">
                        <label class="control-label col-md-3">游戏类型</label>
                        <div class="col-md-9">
                            <select class="form-control" v-model="SearchParam.Param.SelectGameType">
                                <option v-for="type in GameTypes" value="type.code">{{type.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group col-md-4">
                        <label class="control-label col-md-3">游戏首字母</label>
                        <div class="col-md-9">
                            <select class="form-control" @change="FindList" v-model="SearchParam.Param.SelectLetter">
                                <option v-for="item in Letters" :value="item">{{item}}.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="button" id="QueryList" class="btn btn-primary form-control" data-loading-text="查询" value="查询" @click="FindList" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="pull-right" id="">
                            <ul class="pagination pagination-sm m-0 m-r-5">
                                <li class=""><a id="totalPageCount">共计：{{SearchParam.Pagination.records}}条记录</a></li>
                                <li class="" @click="TurnToPage(10)"><a href="#" name="">10</a></li>
                                <li class="" @click="TurnToPage(20)"><a href="#" name="">20</a></li>
                                <li class="" @click="TurnToPage(30)"><a href="#" name="">30</a></li>
                            </ul>
                            <div class="input-group input-group-sm skip-page">
                                <span class="input-group-addon">跳转到</span>
                                <input type="text" name="name" class="form-control" v-model="SearchParam.Pagination.page" />
                                <span class="input-group-addon">页</span>
                                <span class="input-group-btn">
                                    <input type="button" data-loading-text="Go!" class="btn btn-default" @click="TurnToPage(10)" />
                                </span>
                            </div>
                        </div>

                        <!--传值案例-->
                        <comtable v-bind:gamearray="GameArray" v-bind:operatemodal="OpenProperty"></comtable>

                        <nav aria-label="fenye" class="text-center right">
                            <ul id="paginator-test" class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </form>

        <!--游戏总信息编辑-->
        <div class="modal form-horizontal" id="GamePropertyModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:1400px">
                <div class="modal-content animated bounceInRight">
                    <div id="modal_head" class="modal-header">
                        <a class="close" data-dismiss="modal" name="btnModalClose">
                            <span aria-hidden="true" style="font-size:26px">&times;</span><span class="sr-only">Close</span>
                        </a>
                        <h3 class="modal-title text-center" id="modal_title"><strong>游戏信息编辑</strong></h3>
                    </div>
                    <div class="modal-body" id="modal_body">
                        <div id="Account">
                            <div class="input-group col-md-12">
                                <h4><strong>游戏基本信息:</strong></h4>
                                <div class="input-group  col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label col-md-3">游戏名称</label>
                                        <div class="col-md-offset-1 col-md-8">
                                            <input class="form-control" value="zhangzaitian" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label col-md-3">游戏简称</label>
                                        <div class="col-md-offset-1 col-md-8">
                                            <input class="form-control" value="dnf" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="input-group  col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label col-md-3">游戏首字母</label>
                                        <div class="col-md-offset-1 col-md-8">
                                            <input class="form-control" value="d" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label col-md-3">是否热门</label>
                                        <div class="col-md-offset-1 col-md-8">
                                            <select class="select form-control">
                                                <option value="0">非热门游戏</option>
                                                <option value="1">热门游戏</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="input-group  col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label col-md-3">手游/PC游戏</label>
                                        <div class="col-md-offset-1 col-md-8">
                                            <select class="select form-control">
                                                <option value="0">PC游戏</option>
                                                <option value="1">手机游戏</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label col-md-3">运营状态</label>
                                        <div class="col-md-offset-1 col-md-8">
                                            <select class="select form-control">
                                                <option value="0">运营中</option>
                                                <option value="1">已下架</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!--基本信息-->
                            <hr />
                            <br />
                            <div class="input-group col-md-12">
                                <h4><strong>游戏图片信息:</strong></h4>
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <button class="form-control btn-primary" style="width:100px;vertical-align:bottom;">上传小图标</button>
                                        <a href="#"><img src="http://localhost:15786/Content/Images/A3507.png" /></a>
                                    </div>
                                </div>
                            </div><!--图片信息-->
                            <br />
                            <hr />
                            <div class="input-group col-md-12">
                                <h4><strong>区/服信息</strong></h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="warning">
                                            <th>序号</th>
                                            <th>游戏区名称</th>
                                            <th>首字母</th>
                                            <th>排序</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in ServerList1">
                                            <td>{{item.Id}}</td>
                                            <td><input class="form-control" value="item.Name" /></td>
                                            <td><input class="form-control" value="item.Letter" /></td>
                                            <td><input class="form-control" value="item.Order" /></td>
                                            <td><input class="form-control" value="item.Remark" /></td>
                                            <td>
                                                <div class="text-center row">
                                                    <button class="btn-primary" @click="AddServer">新增</button>
                                                    <button class="btn-danger" @click="DelServer">删除</button>
                                                    <button class="btn-success" @click="OpenServerChild">服务器编辑</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--区服信息-->
                            <br />
                            <hr />
                            <div class="input-group col-md-12">
                                <h4><strong>职业信息</strong></h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="success">
                                            <th>序号</th>
                                            <th>职业名称</th>
                                            <th>描述信息</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in GameProfessionArray">
                                            <td>{{item.ProfessionId}}</td>
                                            <td><input class="form-control" value="item.ProfessionName" /></td>
                                            <td><input class="form-control" value="item.Remark" /></td>
                                            <td>
                                                <div class="text-center row">
                                                    <button class="btn-primary" @click="AddProfession">新增</button>
                                                    <button class="btn-danger" @click="DelProfession">删除</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--职业信息-->
                            <br />
                            <hr />
                            <div class="input-group col-md-12">
                                <h4><strong>商品信息</strong></h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="danger">
                                            <th>序号</th>
                                            <th>属性名称</th>
                                            <th>排序</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in GameInfoDescriptionArray">
                                            <td><label>{{item.DescriptionId}}</label></td>
                                            <td><input class="form-control" value="item.DescriptionName" /></td>
                                            <td><input class="form-control" value="item.OrderId" /></td>
                                            <td>
                                                <div class="text-center row">
                                                    <button class="btn-primary" @click="AddDescription">新增</button>
                                                    <button class="btn-danger" @click="DelDescription">删除</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div><!--商品信息-->
                        </div>
                    </div>
                    <div class="modal-footer" id="modal_footer" style="text-align:center;">
                        <div class="btn-group col-md-12">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary col-md-offset-8 col-md-2" data-loading-text="保存中.." name="CheckConfirm" @click="">保存</button>
                                <button type="button" class="btn btn-default col-md-2" data-dismiss="modal" data-loading-text="取消" name="Cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--服务器编辑模态框-->
        <div class="modal form-horizontal" id="GameServer2" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:1300px">
                <div class="modal-content animated bounceInRight">
                    <div id="GameServer2_head" class="modal-header">
                        <a class="close" data-dismiss="modal" name="btnModalClose">
                            <span aria-hidden="true" style="font-size:26px">&times;</span><span class="sr-only">Close</span>
                        </a>
                        <h3 class="modal-title text-center" id="modal_title"><strong>服务器编辑</strong></h3>
                    </div>
                    <div id="GameServer2_body" class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="warning">
                                    <th>编号</th>
                                    <th>服务器名称</th>
                                    <th>首字母</th>
                                    <th>排序</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ServerList2">
                                    <td>{{item.Id}}</td>
                                    <td><input class="form-control" value="item.Name" /></td>
                                    <td><input class="form-control" value="item.Letter" /></td>
                                    <td><input class="form-control" value="item.Order" /></td>
                                    <td><input class="form-control" value="item.Remark" /></td>
                                    <td class="text-center">
                                        <div class="text-center row">
                                            <button class="btn-primary" @click="AddServer">新增</button>
                                            <button class="btn-danger" @click="DelServer">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="GameServer2_foot" class="modal-footer">
                        <div class="btn-group col-md-12">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary col-md-offset-8 col-md-2" data-loading-text="保存中.." name="CheckConfirm" @click="">保存</button>
                                <button type="button" class="btn btn-default col-md-2" data-dismiss="modal" data-loading-text="取消" name="Cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
   </body>
</html>
<script src="../../Scripts/app/TranslateContent/GameMenu_ES5.js"></script>
