@charset "utf-8";
/* CSS Document */
/* --大框架共同样式--*/
.top,.header,.footer{ width:980px; margin:0 auto;}.border{ border:1px solid #ddd}/* --描边--*/
/* --常用顶部样式--*/
.top_box{ width:100%; height:33px; background:url(http://pic.7881.com/7881/common_7881/images/global.png) repeat-x; position:relative; z-index:10008}
.top{ height:33px;line-height:33px;}
.top .top_l{float:left;height:33px;overflow:hidden}
.top .top_l dt{ padding:10px 3px; float:left; height:14px; line-height:14px}
.top .qq a{ width:69px; height:25px; background:url(http://pic.7881.com/7881/common_7881/images/global.png) no-repeat -132px -229px; display:block; margin:8px 0 0 10px}
/* .top .top_r dt,.top .top_r dd{float:left;height:33px; line-height:33px;text-align:center;background:url(http://pic.7881.com/7881/common_7881/images/global.png) no-repeat -20px -110px;}--顶部右侧--*/
.top .top_r dt{float:left;}
.top .top_r dt a{ padding:0 10px}
.top_grayline{ font-size:14px; color:#ddd;}
.top .top_r dd{ float:left; text-align:center;width:80px; padding-right:5px; background:url(http://pic.7881.com/7881/common_7881/images/global.png) no-repeat -20px -177px;position:relative;}
.top .top_r dd.wb{ width:83px}
.top .top_r dd.subNav ul#hide_nav{display:none;} /* --下拉导航区域--*/
.top .top_r dd.subNav:hover{ background-position:-20px -144px}  
.top .top_r dd.subNav:hover ul#hide_nav{ width:89px; height:auto; display:block; position:absolute;background:#fff; right:-3px; top:33px; border:1px #e6e6e6 solid; border-top:none; padding:5px 0;box-shadow: 0px 0px 3px #ccc; -moz-opacity: 0.9;  opacity:.90;  filter: alpha(opacity=90);}	
.top .top_r dd.subNav ul#hide_nav li{ height:26px; line-height:26px;}
.top .top_r dd.subNav ul#hide_nav li.xn{background:url(http://pic.7881.com/7881/common_7881/images/global.png) no-repeat -156px -260px; padding-left:15px}
.top .top_r dd.subNav ul#hide_nav li.tx{background:url(http://pic.7881.com/7881/common_7881/images/global.png) no-repeat -156px -285px; padding-left:15px}
/* --头部区域--*/
.header{ height:91px;color:#818181;}
.header .logo{float:left;}
.header .logo_wri {
    height: 45px;
    border-left: 1px solid #d4d4d4;
    float: left;
    padding: 0 0 0 15px;
    font-family: "微软雅黑";
    font-size: 22px;
    line-height: 45px;
}
.place{height:32px; padding-top:4px; line-height:32px;}/* --您的位置--*/

/* --常用底部区域--*/
.footer{ height:210px;line-height:28px; text-align:center; padding-top:10px}
.footer .advan{ width:980px; height:65px;margin-bottom:10px;background:url(http://pic.7881.com/7881/common_7881/images/global.png) repeat-x 0px -577px}
.footer .advan ul{ width:978px; height:48px;border:1px solid #e7e3e4; background:#fff; padding-top:8px; text-indent:-9999px}
.footer .advan li{ width:196px; height:39px; background:url(http://pic.7881.com/7881/common_7881/images/global.png) no-repeat -12px -463px; float:left; border-right:1px solid #dfdfdf; padding:0 25px 0 0px; margin-left:25px; display:inline}
.footer .advan li.s2{ background-position:-12px -505px;}.footer .advan li.s3{ background-position:-12px -548px;}.footer .advan li.s4{ background-position:-12px -590px; border:none; padding:0}
.footer .link span{ color:#aaa; margin:0 10px 0 10px}
.footer .honor{ padding:10px 0 0 123px; height:33px}
.footer .honor li{ float:left; margin-right:5px;}
.footer .honor li a{ width:106px; height:33px; display:block; background:url(http://pic.7881.com/7881/common_7881/images/global.png) no-repeat -16px -221px}
.footer .honor li a.s2{ background-position:-16px -258px}
.footer .honor li a.s3{ background-position:-16px -296px}
.footer .honor li a.s4{ background-position:-16px -336px}
.footer .honor li a.s5{ background-position:-16px -376px}
.footer .honor li a.s6{ background-position:-16px -418px}
/*--顶部搜索--*/
.top_search{ width:638px; float:right; position:relative; z-index:99999}
.t_search{ height:26px; line-height:29px; width:638px; float:left}
.t_search a{ width:90px; float:left; display:inline-block;text-align:center; color:#999}
.t_search a.hover{ background:#3983E8; color:#fff; border-radius:3px 3px 0 0}
.s_blue_box{ border:3px solid #3983E8; float:left; overflow:hidden; width:632px; color:#333}
.selectbox ul{ float:left;}
.selectbox li,.top_search .search{ height:30px; line-height:30px; float:left;}
.selectbox li.g_name,.selectbox li.g_area,.selectbox li.g_service,.selectbox li.g_type{ float:left; width:120px; padding-right:16px; background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 116px -1456px no-repeat; cursor:pointer; text-indent:8px; overflow:hidden;white-space:nowrap; text-overflow:ellipsis}
.selectbox li.selected_position{ background-position:116px -1476px}
.top_search .search{float:right;width:88px; text-align:center; background:#3983E8; display:inline-block; color:#fff; font-size:14px; font-weight:bold; position:relative; right:3px; top:-33px}
.top_search .search:hover{ color:#fff; background:#1b69d3}
.s_blue_box .input{width:540px; padding-left:4px; float:left; border:0; line-height:28px; height:28px; font-size:12px}
.top_search .hotsearch{ float:left; padding-left:5px;color:#aaa;}
.top_search .hotsearch a{color:#aaa;}
.top_search .hotsearch a:hover{color:#f60;}
.top_search .hotsearch dl dt,.top_search .hotsearch dl dd{ float:left; line-height:30px; padding-right:5px}
.top_search .hotsearch dl dd{font-size:10px}
.top_search .arrow{ position:absolute; z-index:10006; top:64px; left:28px;width:15px; height:8px;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 0 -1446px no-repeat; display:none}
.top_search .b_blue_box{ border:2px solid #3983E8;overflow:hidden; width:976px; position:absolute;top:70px;left:-342px; background:#fff; z-index:10001; display:none;box-shadow:0 2px 4px rgba(0,0,0,0.3);text-align:left;}
.main_con{ float:left; width:976px;overflow:hidden;}
.box_title{ border-bottom:1px dashed #ddd; height:36px; line-height:36px; margin:0 12px;font-size:16px; font-family:"微软雅黑"; font-weight:bold}
.box_title a{ color:#f90; font-size:14px; margin-left:10px}
.top_search .close_btn{ display:none; text-indent:-2000em; overflow:hidden;width:20px; height:19px;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 0 -1507px no-repeat; margin:4px 2px; position:absolute; z-index:999; top:78px; right:10px}
.top_search .close_btn:hover{ background-position: 0 -1526px}
.gamename_quicksearch{ padding:15px 12px; height:28px; overflow:hidden}
.q_input{ width:180px; padding:3px; border:1px solid #ddd; height:18px; line-height:18px; margin-right:5px}

.main_name_select{ border-bottom:1px solid #549AE9; height:34px; line-height:34px; padding-left:45px}
.main_name_select a{border:1px solid #549AE9; font-size:14px; height:33px; margin-right:3px; width:108px; display:inline-block; background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 0 -1553px repeat-x; _border-bottom:0;text-align:center; color:#666}
.main_name_select a.hover{border:1px solid #549AE9; border-bottom:0;font-size:14px; font-weight:bold; width:108px; display:inline-block; text-align:center; height:34px; background:#fff;}


.main_letter_select{ height:30px; line-height:30px; padding:6px 0 2px 45px;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 0 -1587px repeat-x}
.main_letter_select a,.main_letter_select a.current{display:inline-block; padding:0 10px; margin:0 3px 0 0; text-align:center; font-family:Arial, Helvetica, sans-serif; overflow:hidden; vertical-align:middle}
.main_letter_select a.current{ color:#fff;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) -20px -1627px no-repeat;}
.main_letter_select a:hover{ text-decoration:none; color:#fff;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) -20px -1627px no-repeat;}
#hotgame.current{color:#fff;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 0 -1627px no-repeat;}
#hotgame:hover{color:#fff;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 0 -1627px no-repeat;}


.con_list{ padding:10px 0 10px 45px; width:930px; overflow:hidden}
.con_list dt{ float:left;width:145px; overflow:hidden; padding:5px 0 5px 4px; margin-right:4px;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) 0 -1659px no-repeat; height:20px;white-space:nowrap; text-overflow:ellipsis}
.con_list dt a{line-height:20px; padding:0 5px; overflow:hidden; display:inline-block;}
.con_list dt a:hover{ background:#3983E8; color:#fff; text-decoration:none}

.xii_row {cursor:pointer;}
.xii_selected {background:#F3F5F8;}
/*分页*/
.pager{ float:right;text-align:center; verflow:hidden;margin:20px 0; font-size:14px}
.pager_small{ font-size:12px}
.pager .text{padding:8px 3px 8px 0; display:inline-block; float:left}
.pager_small .text{padding:6px 3px 4px 0;}
.pager a{display:inline-block; padding:7px; min-width:16px; text-align:center; border:1px solid #ddd; margin-right:6px; float:left}
.pager_small a{ padding:5px;_padding:3px 7px}
.pager a.hover,.pager a:hover{ background:#f60; color:#fff}
.pager a.none,.pager a.none:hover{ background:#fff; color:#999; text-decoration:none; cursor:default}
.pager .input{ border:1px solid #36c; height:16px; line-height:16x; text-indent:3px; width:32px; margin:5px 3px 0 0; float:left}
.pager_small .input{ margin:3px 3px 0 0}
.pager .pager_btn{ padding:0;float:left; height:21px;line-height:21px; width:48px;background-position: 0 -551px; text-align:center; border:0; cursor:pointer; margin-top:4px}
.pager_small .pager_btn{ margin-top:2px}

/* 通用弹出层_投诉 */
.tip_box{ width:450px;background-color:#fff;border:2px #197EC0 solid;position:absolute;top:0;left:0;display:none;z-index:1000000001; padding:0 0 8px; overflow:hidden}
.tip_box h2{ text-align:left;height:30px;font-size:14px;background:#197EC0;position:relative;padding-left:10px;line-height:30px;color:#fff}
.close-btn{position:absolute;right:10px; top:0;font-size:14px;color:#fff;}
.tip_box .mainlist{padding:20px 10px; text-align:left; overflow:hidden}
.tip_box .ico_t,.tip_box .ico_q,.ico_pay_notice{ float:left; width:80px; margin:5px 10px 0 50px; height:85px;text-align:right;background-position:0 -2663px}
.tip_box .ico_q{background-position:0 -2758px}
.tip_box .text{ float:right; width:272px}
.tip_box .text li{ line-height:20px; padding:4px 0; overflow:hidden}
.tip_blue_btn{ width:98px; height:30px; line-height:30px; color:#fff; text-align:center;background-position:0 -2860px}
.tip_box_1{ width:750px;}
.tip_box_1 .mainlist{ padding:10px 0;overflow:hidden; position:relative; z-index:19}
.ico_pay_notice{background-position: 0 -3041px; padding-left:98px; font-weight:bold; font-size:14px; line-height:100px;height:110px; width:auto}
.ico_funds{background-position:30px -3695px; padding-left:98px; font-weight:bold; font-size:14px; line-height:70px;height:90px; width:auto}
#screen{width:100%;height:100%;position:absolute;top:0;left:0;display:none;z-index:100000000;background-color:#666;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;}
.ico_pay_notice_2{ font-weight:normal; margin:50px 0 50px 200px}
.tip_box .popCont{padding:0 0 0 40px;height:auto;overflow:hidden;}
.tip_box .popCont i{float:left;display:block;margin-right:8px;}
.tip_box .popCont i.notice{height:105px;width:88px;background:url(http://pic.7881.com/7881/common_7881/images/cash_ico.png) left -3041px no-repeat;}
.tipBoxWide{width:730px;}
.tip_box .popCont h3{margin:0 0 15px;font-size:22px;font-family:"Microsoft Yahei";font-weight:bold;}
.tip_box .popTxt{padding:10px 20px 20px;height:auto;overflow:hidden;}
.tip_box .popTxt p{line-height:24px;}
/* 流程图 */
.Process{margin-top:28px;}
.Process ul{overflow:hidden;}
.Process ul li{ display:block;float:left;width:101px;}
.Process ul li p{height:23px; line-height:23px;text-align:center;}
.Process ul li p.bg{background:url(http://pic.7881.com/7881/common_7881/images/7881_buy.png) no-repeat 0px 0px;color:#FFF;font-size:14px; font-family:Arial;}
.Process ul li p.gc{background:url(http://pic.7881.com/7881/common_7881/images/7881_buy.png) no-repeat 0px -26px;color:#FFF;font-size:14px; font-family:Arial;}

/*------简洁底部------*/
.foot{padding-top:10px;}
.foot li{padding:8px 0px;}
.foot li i{width:16px; height:16px;background:url(../../images/7881_icon.png) no-repeat; margin:0px 5px 0px 15px;}
.foot li i.miitbeian{background-position:0px 0px;}
.foot li i.cyberpolice{background-position:0px -21px;}
.foot li i.alipay{background-position:0px -41px;}
.foot li i.anquan{background-position:0px -62px;}
.foot li i.weishi{background-position:0px -82px;}
/*innerBox*/
.warnInner{padding:50px 0;border:1px solid #ffcaca;background:#ffecec;}
.warnInner .no{padding-left:42px;margin-left:55px;background:url(7881.icon.png) -70px -109px no-repeat;}
.warnInner .no h4{margin:0 0 12px;padding-top:5px;font-size:14px;}
.warnInner .no p{line-height:22px;}
.warnInner .no p.label{padding-left:36px;}
.moreBox{padding:16px 0 65px;font-size:14px;text-align:center;}

.listshow li.listzk em{display:inline-block;width:48px;height:23px;line-height:25px;color:#FFF;text-align:center;background:url(http://pic.7881.com/7881/common_7881/images/listzk.png) no-repeat;}