/*reset*/

html { height: 101%; min-height: 101%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
i { font-style: normal; }
q:before, q:after { content: ��; }
abbr, acronym { border: 0; }
a, a:hover { text-decoration: none; }

/*.clearfix { overflow: auto; _height: 1% }*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;/*IE/7/6*/ }

/*new-cashier*/
body, button { text-align: left; font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif; color: #333; }
.no-js { background: #f5f5f5; }
.new-cashier-hd .inner { margin: 0 auto; height: 85px; width: 980px; }
.nc-fold-box { }
.nc-fold-box .single { height: 50px; border: 1px solid #85a1d4 }
.new-cashier-hd { border-bottom: 2px solid #ED6D34; background: #fff; }
.nc-logo { float: left; display: block; width: 299px; height: 50px; background: url(/images/nc-logo.png) no-repeat; margin: 22px 0 0; text-indent: -9999em; }
.hd-rt-info { float: right; font-size: 14px; margin: 37px 10px 0  0; }
.hd-rt-info a, .hd-rt-info a:visited { color: #595757; }
.hd-rt-info .separator { padding: 0 5px; }
.new-cashier-order, .new-cashier-pay { margin-bottom: 19px; }
.new-cashier { margin: 19px 0 0; }
.cashier-box { margin: 0 auto 0; background: #fff; width: 980px; border-bottom: 1px solid #f5f5f5; }
.cashier-box .inner { padding: 25px 38px; }
.cashier-box.disabled .checkbox { background: url(/images/check-d.png) no-repeat; }
.cashier-box.disabled * { color: #ccc; }
.container { margin: 20px 0 0; padding: 0 0 0 37px; }
.new-cashier-order .order-icon { width: 84px; height: 84px; display: block; float: left; }
.new-cashier-order .order-icon.order-ok { background: url(/images/order-right.png) no-repeat; }

/*.new-cashier-order .inner { padding-top: 20px; }*/
.order-info { float: left; margin: 0 0 0 43px; width: 582px; }
.order-info h2 { font-size: 22px; }
.order-info h2 small { font-size: 14px; display: block; color: #424242; }
.order-info  b { color: #EC6D34; font-weight: normal; }
.order-info ul.detail { margin: 15px 0 0; color: #999; }
.order-info ul.detail li { overflow: auto; _height: 1%; margin: 5px 0 0; }
.order-info ul.detail span { display: block; float: left; width: 9%; }
.order-info ul.detail em { float: left; width: 85%; }
.order-r { float: right; }

/*�����б�*/
.hb-list { font-size: 12px; }
.hb-list .hb-price { font-size: 32px; font-weight: bold; color: #EC6D34; line-height: 1.2; }
.hb-list .hb-price span { font-size: 16px; }
.hb-list li { width: 202px; height: 80px; border: 1px solid #e0e0e0; float: left; margin: 17px 17px  0 0; cursor: pointer; }
.hb-list li:hover { border-color: #ff6700; }
.hb-list li.active, .card-list li.active { border: 1px solid #ff6700; }
.hb-list li:nth-child(4n) { margin-right: 0; }
.hb-list li .inner { padding: 2px 0 0 10px; }
.hb-list li.disabled { cursor: not-allowed; border-style: dashed; }
.hb-list li.disabled:hover { border-color: #e0e0e0; }
.hb-list li.disabled, .hb-list li.disabled .hb-price { color: #999; }
.hb-name { }
.hb-limit { color: #999; }

/*֧����ʽ*/
.pey-method { font-size: 16px; }
.checkbox { float: left; cursor: pointer; width: 27px; height: 27px; background: url(/images/check-o.png) no-repeat; display: block; }
.checkbox.checked { background: url(/images/check-c.png) no-repeat; }
.pey-method .name { font-size: 20px; float: left; margin: 0 0 0 10px; line-height: 27px; width: 15%; }
.pey-method span, .pey-method a { float: left; display: block; height: 27px; line-height: 27px; }
.pey-method span { width: 18%; }
.pey-method span b { /*color: #3476c1;*/ font-weight: normal; }
.pey-method a.chose { width: 15%; color: #3476c1; font-size: 14px; }
.pey-method .uer-p-m { float: left; width: 18%; height: 27px; position: relative; }
.pey-method .uer-p-m .m-logo { width: 100%; height: 60px; position: absolute; left: 0; top: -16.5px; }
.pm-price { float: right }
.nc-type-box { padding-top: 20px; }
.nc-type-hd { margin-bottom: 15px; }
.nc-type-hd .title { float: left; font-size: 16px; color: #616161; font-weight: bold; }
.nc-type-hd .desc { float: left; margin-left: 10px; margin-top: 6px; font-size: 12px; color: #b0b0b0; }
.nc-type-body { }
.nc-type-body li { float: left; width: 161px; height: 60px; line-height: 60px; margin-right: 13px; margin-bottom: 13px; border: 1px solid #e0e0e0; text-align: center; cursor: pointer; overflow: hidden; _zoom: 1; }
.nc-type-body li:hover { border-color: #ff6700; }
.nc-type-body li:nth-child(5n) { margin-right: 0; }

/*֧������*/
#submit-area { }
.verifications { }
.verifications .v-method { font-size: 14px; }
.verifications .v-method li { line-height: 32px; margin: 0 0 10px; }
.verifications .v-method span { display: inline-block; width: 78px; text-align: right; }
.verifications .v-method input { display: inline-block; width: 200px; height: 28px; font-size: 14px; line-height: 28px; padding: 0 5px; }
#submit-area #vfcode { width: 100px; }
#submit-area a.tip, a.send-vc { margin-left: 20px; }
#submit-area a.tip:hover, a.tip:visited { color: #3476c1; background: transparent; }
#submit-area input.submit {font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif; font-weight: normal; display: block; margin-top: 15px; width: 200px; padding: 14px 0; color: #fff; cursor: pointer; line-height: 1; font-size: 18px; text-align: center; background: #ED6D34; outline: none; -webkit-user-select: none; border-radius: 3px; border: 1px solid transparent; -webkit-appearance: none; transition: background-color 300ms ease-out, border-color 300ms ease-out; box-sizing: content-box; *height: 46px; }
#submit-area input.submit:hover { background-color: #e0690c; }
#submit-area input.submit.disabled { background-color: #CCCCCC; cursor: not-allowed; }
#submit-area input.submit.disabled:hover { background-color: #CCCCCC; }
#submit-area a.send-vc { display: inline-block; background: #6993C4; text-align: center; height: 32px; padding: 0 22px; color: #fff; }
#submit-area .tip { color: red; font-size: 12px; padding: 12px 0 0; }

/*ɫ������*/
.order-price, .pm-price { color: #999; }
.order-price b { font-size: 24px; color: #EC6D34; font-weight: normal; padding: 0 6px 0 0; }
.pm-price b { color: #EC6D34; font-weight: normal; padding: 0 6px 0 0; }

/*CSS3*/
.nc-type-body li, .hb-list li { -webkit-transition: all 0.4s; transition: all 0.4s; }

/*����*/
#nc-overage, #hb { display: none; }
#nc-hb .container { margin-top: 0; }

/*����֧��ȷ��*/
.pay-popup-mask { background: url(/images/alpha.png); position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.pay-popup { width: 500px; border: 1px solid #227BC0; background: #fff; position: absolute; }
.pay-popup h3 { height: 38px; line-height: 38px; background: #427BBF; font-size: 20px; padding: 0 1em; color: #fff; }
.pay-popup .inner-text { text-align: center; font-size: 16px; margin: 30px 0 0; }
.pay-popup .btns { text-align: center; margin: 20px 0 35px; }
.pay-popup a.q { margin: 0 10px; font-size: 16px; color: #fff; line-height: 32px; display: inline-block; background: #6993C4; text-align: center; height: 32px; padding: 0 22px; color: #fff; }

.cashier-box { position: relative;}
.cashier-box .contact { border:1px dashed #ccc; left: 101%; top: 25px; position: absolute; display: block; width: 23px; height: 85px; background:#fff url(/images/contact.png) no-repeat center;}
.top-alert .inner { padding: 6px 38px;}
.top-alert .hd-alert-box a { color: #EC6D34;}
.top-alert .hd-alert-box h2 { font-weight: normal; line-height: 21px; height: 21px; background:url(/images/top-alert.png) no-repeat left; padding-left: 22px;}

.pv-captcha a{font-size:12px}
.body {font-size:12px}
/* ���� */
.pey-method span, .hb-name { overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; position: relative; }
.hb-list li { overflow: hidden; position: relative; }
.hb-list li .inner { padding: 2px 10px 0 10px; }
.hb-name { _width: 182px }