@charset "utf-8";
/* CSS Document */
/* ---重置常用标签的边界与填充---*/
body,h1,h2,h3,h4,h5,h6,p,hr,dl,dt,dd,ul,ol,li,form,input,button,textarea,img{margin:0;padding:0}

/* ---设置默认字体---*/
body{font:12px Microsoft YaHei;text-align:center;margin:0; padding:0;color:#333}

/* ---重置列表元素---*/
ul,ol,li{list-style:none;}
input,textarea,option,select{list-style:none;font:12px Microsoft YaHei;height:20px;}
a img{ border:none; border:0px}

/* ---常用元素---*/
.left{float:left;}
.right{float:right;}
.center{ margin-left:auto; margin-right:auto;text-align:left;width: 980px;}
.clear{clear:both; font-size:0px; line-height:0px;margin:0;padding:0}
.clearfix{*zoom:1;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}

/* ---超链接---*/
.red{color:#F00}/*红色*/
a{color:#333;text-decoration:none;cursor:pointer;}
a:hover{color:#E95701;text-decoration:underline}
.global_a_hover{color:#E95701;text-decoration:none}

a.ls{color:#36c;text-decoration:none;cursor:pointer;}
a:hover.ls{color:#E95701;text-decoration:none;cursor:pointer;}

a.cs{color:#F90;text-decoration:none}
a:hover.cs{color:#E95701;text-decoration:none}

a.hs{color:#444;text-decoration:none}
a:hover.hs{color:#E95701;text-decoration:none}

/* ---文本框---*/
.input_txt{box-shadow:0 0 4px #dfdfdf inset;border:solid 1px #dfdfdf;height:20px;text-indent:3px;}
.input_txt:hover{box-shadow:0 1px 10px #FF6600 inset;border:solid 1px #FF6600;}
.input_txt:focus{box-shadow:0 1px 10px #FF6600 inset;border:solid 1px #FF6600;}

/* 出售订单管理 */
/* 下拉框大小设置 */
.yxddcx select{ width:112px;}
.cxFormtime { width: 69px; height:21px; margin-left:10px; background:url(http://pic.ofcard.com/7881/market/images/sell/pecsonal_cx.png) no-repeat; border: medium none;cursor: pointer;}
.cxFormtime:hover{  width: 69px; height:21px; margin-left:10px; background:url(http://pic.ofcard.com/7881/market/images/sell/pecsonal_cx1.png) no-repeat; border: medium none;cursor: pointer;}

<!-- 操作：全选，下架，删除-->
.dxk_qx{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/quan.png) no-repeat;border: medium none;cursor: pointer;}
.dxk_qx:hover{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/quanh.png) no-repeat;border: medium none;cursor: pointer;}
.dxk_xj{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/xia.png) no-repeat;border: medium none;cursor: pointer;}
.dxk_xj:hover{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/xiah.png) no-repeat;border: medium none;cursor: pointer;}
.dxk_sc{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/shan.png) no-repeat;border: medium none;cursor: pointer;}
.dxk_sc:hover{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/shanh.png) no-repeat;border: medium none;cursor: pointer;}
.dxk_shangj{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/shangj.png) no-repeat;border: medium none;cursor: pointer;}
.dxk_shangj:hover{ width:69px; height:21px; background:url(http://pic.ofcard.com/7881/market/images/shangh.png) no-repeat;border: medium none;cursor: pointer;}

/* 页数鼠标放上去——手形 */
.myxssl{
	cursor:pointer;
}

/* ======================================新首页0821====================================== */
address,cite,code,dfn,em,var,i{font-style:normal;font-weight:normal}
b,strong{font-weight:bold}
.cent {margin:0 auto;text-align:center}
.b{font-weight:bold}
.text_down{text-decoration:underline}
.text_none{text-decoration:none}
.ml10{ margin-left:10px}
.mb10{ margin-bottom:10px}
.mr10{ margin-right:10px}
.mt10{ margin-top:10px}
.m10{ margin:10px}

/* ---字体大小设置---*/
.f11{font-size:11px}
.f12{font-size:12px}
.f14{font-size:14px}
.f15{font-size:15px}
.f16{font-size:16px}
.f18{font-size:18px}
.f22{font-size:22px}

/* ---颜色设置---*/
.blue{color:#36c}/*蓝色*/
.red{color:#F00}/*红色*/
.yellow{color:#F60}/*橙色*/
.blue_2{color:#3D86EA}/*蓝色2*/
.gray{color:#666}/*灰色*/
.gray_2{color:#9A9A9A}/*灰色2*/
.white{color:#fff}/*白色*/
.green{color:#4DBF00}/*绿色*/

/* 图片预加载*/
#preloader {
background-image: url(http://pic.ofcard.com/7881/images/main/load_pic1.png);
background-image: url(http://pic.ofcard.com/7881/images/main/load_pic2.png);
width: 0px;
height: 0px;
display: inline;
}