<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <add name="BayetechEntities" connectionString="metadata=res://*/Entity.Bayetech.csdl|res://*/Entity.Bayetech.ssdl|res://*/Entity.Bayetech.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=47.98.176.184;initial catalog=Bayetech;persist security info=True;user id=sa;password=sh.1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="oasEntities" connectionString="metadata=res://*/Entity.Oas.csdl|res://*/Entity.Oas.ssdl|res://*/Entity.Oas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=47.98.176.184;initial catalog=oas;persist security info=True;user id=sa;password=sh.1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>



