@charset"utf-8";
.app-touch {
    -webkit-overflow-scrolling: touch;
}

.app {
    width: 100%;
}

.bg-fff {
    background-color: #fff!important;
}

.det01 {
    height: 4.8rem;
    width: 100%;
    overflow: hidden;
    display: block;
}

.det01 img {
    width: 100%;
    height: 100%;
}
.det02 span, .det03 {
    display: block;
    background: #fff;
    box-sizing: border-box;
}
.det02 {
    background: #fff;
    color: #000;
    text-align: left;
    height: auto;
    display: block;
    overflow: hidden;
}
.det02 p.catagory {
    font-size: .28rem;
    color: #888;
    line-height: .44rem;
    white-space: nowrap;
    padding-top: .3rem;
}
.det03 {
    height: auto;
    overflow: hidden;
    padding: 0 .3rem .24rem;
}
.det03 span {
    color: #f60;
    padding-right: .20016rem;
    font-weight: 700;
}
.det03 em {
    color: #999;
}
.det03 span i {
    font-style: normal;
    padding-right: .048rem;
}
.det04 {
    display: inline-block;
    width: 100%;
}
.det04 .studio {
    height: auto;
    display: block;
    overflow: hidden;
    padding: .3rem;
    box-sizing: border-box;
    background: #fff;
}
.det04 .studio .studio01 {
    float: left;
    padding-right: .20016rem;
}
.det04 .studio .studio01 img {
    width: .99984rem;
    height: .99984rem;
    border: 1px solid #ccc;
}
.det04 .studio .studio02 {
    float: left;
    width: 2.976rem;
    color: #000;
}
.det04 .studio .studio02 .p1 {
    line-height: .432rem;
    padding-bottom: .13584rem;
}
.det04 .studio .studio03 {
    float: right;
    width: 2.784rem;
    box-sizing: border-box;
    padding-right: .384rem;
    background-size: .18rem;
}
.det04 .studio .studio03 p.s1 {
    width: 2.4rem;
    height: .39984rem;
    background: url(/content/images/dl/gray-wx.png?69f3453…) 0 no-repeat;
    background-size: 2.4rem;
}
.det04 .studio .studio03 p.s1 span {
    display: block;
    height: .39984rem;
    background: url(/content/images/dl/red-wx.png?0efa67e…) 0 no-repeat;
    background-size: 2.4rem;
    text-indent: -9999px;
}
.det04 .studio .studio03 p.s2 {
    color: #999;
    text-align: right;
    padding-top: .20016rem;
}
.det04 .studio .studio03 p.s2 em {
    padding-left: .208rem;
}
.detail-img {
    height: auto;
    overflow: hidden;
    display: block;
}
.warcraft-button {
    height: auto;
    overflow: hidden;
    display: block;
    line-height: .99984rem;
}
.warcraft-button a {
    float: left;
    text-align: center;
    color: #fff;
    width: 50%;
}
.warcraft-button a.button01 {
    background: #28c263;
}
.warcraft-button a.button02 {
    background: #f60;
}

/*代练buy 输入信息页面*/
.prov-conn {
    height: auto;
    display: block;
    overflow: hidden;
}

.prov-conn .list_code, .prov-conn .recode_detail {
    display: inline-block;
    height: 1.05rem;
    line-height: 1.05rem;
    padding-left: .23rem;
}
.prov-conn .recode_detail {
    background: url(/content/images/dl/curent.jpg?fbc7f18…) no-repeat 0;
    background-size: .06rem .35rem;
}

.dlbox {
    width: 100%;
    padding: 0 .3rem;
    background: #fff;
    position: relative;
    height: 1.04rem;
    line-height: 1.04rem;
}

.dlbox .count2 {
    width: 2.28rem;
    height: .65rem;
    position: absolute;
    right: .3rem;
    top: .2rem;
}
.dlbox .count2 .add, .reduce {
    width: .66rem;
    height: .65rem;
    border: 1px solid #e8e8e8;
    font-family: arial;
    background: #fff;
    cursor: pointer;
}
.dlGray {
    color: #999;
}
.dlbox .count2 .num {
    width: .96rem;
    height: .65rem;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}
input[type=tel], input[type=text] {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    border: none;
}

.dl-msg, .dl-msg ul li {
    position: relative;
}
.dl-msg ul li {
    line-height: .5rem;
    padding-top: .265rem;
    padding-bottom: .265rem;
    border-bottom: 1px solid #e8e8e8;
}
.dl-msg ul li .dl-input {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: .3rem;
    width: 60%;
    border: none;
    left: 30%;
    vertical-align: top!important;
    position: absolute;
    background: #fff;
}
.choose-list .tearea, .prov-conn .tearea {
    display: block;
    border: none;
    width: 95%;
    resize: none;
}
.to-right {
    width: .8rem;
    height: 100%;
    background: url(/content/images/dl/right2.png?8d1c222…)100% no-repeat;
    position: absolute;
    right: .3rem;
    background-size: .18rem .32rem;
    top: 0;
}
.error_ts {
    height: .72rem;
    line-height: .72rem;
    background-color: #fffdf4;
    font-size: .24rem;
    color: #be8600;
    padding-left: .3rem;
}
.warndl {
    background-color: #f1f1f1;
    padding: .1rem .3rem;
    line-height: .4rem;
    color: #f60;
    font-size: .24rem;
}
.order-submit {
    padding: .2rem .3rem;
}

.order-submit .clear_item {
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.order-submit .submits, .order-submit span {
    display: inline-block;
    height: .85rem;
    line-height: .85rem;
    text-align: center;
}
.order-submit .submits {
    width: 100%;
    background: #f60;
}


/*底部时间选择*/
.maskdiv0, .maskdiv, .maskdiv4 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}
.rankpop, .rankpop .rankpop-titl {
    height: auto;
    display: block;
    overflow: hidden;
    z-index: 99;
}
.rankpop .rankpop-titl{
    position:relative;
}
.rankpop .rankpop-titl a {
    position: absolute;
}
.rankpop .rankpop-titl a, .rankpop .rankpop-titl span {
    display: block;
    line-height: .9rem;
    height: .9rem;
}
.rankpop .rankpop-titl a.cancel {
    top: 0;
    left: 0;
}
.rankpop .rankpop-titl a.finish {
    top: 0;
    right: 0;
}
.rankpop-conn {
    height: 4.4rem;
    display: block;
    overflow: hidden;
}
.rankpop-conn .list {
    width: 50%;
    height: 4.09rem;
    margin-top: .2rem;
    overflow-x: auto;
}
.rankpop-conn .list ul li {
    height: .7rem;
    line-height: .7rem;
    color: #aeaeae;
}



