@charset"UTF-8";

.app{width:100%}.app-touch{-webkit-overflow-scrolling:touch}.app-auto{-webkit-overflow-scrolling:auto}#cnzz_stat_icon_1261744584{display:none}.no-select{moz-user-select:-moz-none;-moz-user-select:none;-o-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}


