<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>管理员设置</title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/generics.css" rel="stylesheet" />
    <link href="../../Content/Mystyle.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../lib/jquery/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../lib/knockout/dist/knockout.js"></script>
    <script src="../../lib/knockout/dist/knockout.mapping.js"></script>
    <script src="../../lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
</head>
<body>
    <div id="CommForm">
        <!--Grid界面-->
        <div id="" style="padding:20px 0 20px 0;">
            <form class="form form-search form-horizontal" role="form">
                <div class="form-group" id="lineTwo">
                    <div class="col-ms-12">
                        <div class="input-group col-md-4">
                            <label class="control-label col-md-3">用户账号</label>
                            <div class="col-md-5">
                                <input type="text" v-model="SearchParam.Param.SelectNo" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="QueryList" class="btn btn-primary form-control" data-loading-text="查询" value="查询" @click="findList" />
                            </div>
                        </div>
                        <div class="toolbar input-group col-md-6">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-bind="click:OpenAuthModal"><i class="fa fa-key"></i>分配角色</button>
                                <button type="button" class="btn btn-primary" @click="OpenModal"><i class="fa fa-plus"></i>添加</button>
                                <button type="button" class="btn btn-primary" @click="OpenEditModal">><i class="fa fa-pencil-square-o"></i>修改</button>
                                <button type="button" class="btn btn-primary" @click="UserDelete">><i class="fa fa-trash-o"></i>删除</button>
                                <button type="button" class="btn btn-primary" @click="ResetPassWord">><i class="fa fa-key"></i>重置密码</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="pull-right" id="">
                                <ul class="pagination pagination-sm m-0 m-r-5">
                                    <li class=""><a id="totalPageCount">共计：{{SearchParam.Pagination.records}}条记录</a></li>
                                    <li class="" @click="TurnToPage(10)"><a href="#" name="">10</a></li>
                                    <li class="" @click="TurnToPage(20)"><a href="#" name="">20</a></li>
                                    <li class="" @click="TurnToPage(30)"><a href="#" name="">30</a></li>
                                </ul>
                                <div class="input-group input-group-sm skip-page">
                                    <span class="input-group-addon">跳转到</span>
                                    <input type="text" name="name" class="form-control" v-model="SearchParam.Pagination.page" />
                                    <span class="input-group-addon">页</span>
                                    <span class="input-group-btn">
                                        <input type="button" data-loading-text="Go!" class="btn btn-default" @click="TurnToPage(10)" />
                                    </span>
                                </div>
                            </div>
                            <!--传值案例-->
                            <comtable v-bind:adminsetsarray="AdminSetsArray" v-bind:startcheck="StartCheck"></comtable>
                            <nav aria-label="fenye" class="text-center right">
                                <ul id="paginator-test" class="pagination"></ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--Grid界面-->
        <!--Modal界面-->
        <div id="UserModal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="validator">
            <div class="modal-dialog" style="width: 30%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="H1" style="text-align: center"><b>管理员设置</b></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="col-sm-3 control-label" for="input01">用户账号*</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" v-model="SearchParam.ListObj.UserName" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-sm-3 control-label" for="input01">真实姓名*</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" v-model="SearchParam.ListObj.TrueName" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-sm-3 control-label" for="input01">手机</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" v-model="SearchParam.ListObj.Mobile" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-sm-3 control-label" for="input01">是否停用</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="IsDisabled" v-model="SearchParam.ListObj.IsDisabled" @click="IsDisabl(true)" />是</label>
                                    <label><input type="radio" name="IsDisabled" v-model="SearchParam.ListObj.IsDisabled" @click="IsDisabl(false)" />否</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-sm-3 control-label" for="input01">描述</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" v-model="SearchParam.ListObj.Remark"></textarea>
                                    <br>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-4">
                                    <input class="btn btn-success form-control" type="button" value="保存" @click="UserAddandEdit">
                                </div>
                                <div class="col-xs-4">
                                    <input class="btn btn-default form-control" type="button" value="关闭" data-dismiss="modal">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal界面-->
        <!--角色Modal界面-->
        <div id="RolesModal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="validator">
            <div class="modal-dialog" style="width: 30%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="H1" style="text-align: center"><b>用户角色设置</b></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="col-sm-3 control-label">用户账号</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" v-model="SearchParam.ListObj.UserName" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-sm-3 control-label">当前角色</label>
                                <div class="col-sm-8">
                                    <select class="form-control" v-model="SearchParam.Param.SelectType">
                                        <option value="1">管理员</option>
                                        <option value="2">订单生成</option>
                                        <option value="3">文件处理</option>
                                        <option value="4">订单审核</option>
                                        <option value="5">客服</option>
                                        <option value="9">财务</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">

                                <div class="col-xs-6">
                                    <input class="btn btn-success form-control" type="button" value="保存" @click="AddRoles">
                                </div>
                                <div class="col-xs-6">
                                    <input class="btn btn-default form-control" type="button" value="关闭" data-dismiss="modal">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal界面-->
        <!--Modal界面-->
        <div id="AuthModal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="validator">
            <div class="modal-dialog" style="width: 30%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="H1" style="text-align: center"><b>分配角色权限</b></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <div class="col-sm-12">
                                    <div id="tree"></div>
                                </div>
                            </div>
                            <br />
                            <div class="row form-group">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-3" style="cursor:pointer">
                                    <label>操作：</label>
                                    <span class="glyphicon glyphicon-check text-success" data-bind="click:AuthSelectAll"></span>&emsp;
                                    <span class="glyphicon glyphicon-unchecked text-danger" data-bind="click:AuthUnSelectAll"></span>

                                </div>

                                <div class="col-xs-offset-1 col-xs-3">
                                    <!--<button class="btn btn-default form-control" data-bind="click:AuthClose">关闭</button>-->
                                    <button class="btn btn-default form-control">关闭</button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-success form-control" type="submit" data-bind="click:AuthUpdate">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="../../Scripts/app/TranslateContent/Auth_AdminManage_ES5.js"></script>
<script type="text/javascript">

    $(function () {



        //用户模型
        var model = function () {
            var _model = this;
            _model.Role_id = ko.observable(0);
            _model.Role_Value = ko.observable(0); 
            _model.Module_ID = ko.observable(0);
            _model.Company_ID = ko.observable(0);
            _model.Role_Display = ko.observable("");
            _model.Role_Name = ko.observable("");
            _model.Role_Remark = ko.observable("");
            _model.Role_Column = ko.observable("");
            _model.CreateTime = ko.observable("");
            _model.RoleSerial = ko.observable("");

        }
        var KObj = new function () {
            var self = this;
            self.model = new model();//实例化模型
            self.ss = "/api/Roles/GetList";
            self.AuthTree = $('#tree');
            self.OpenAuthModal = function () {
                debugger;
                var id = $("input[name='Operates']").val();
                
                if (id == "")
                {
                    alert("请选择角色")
                    return;
                }
                $.ajax({
                    url: "/api/AdminManage/GetTree",
                    //data:JSON.stringify(dd),
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (ret) {
                        if (ret.result) {
                            $.ajax({
                                url: "/api/AdminManage/GetTreeRoles",
                                data: { id: id },
                                type: "get",
                                dataType: "json",
                                async: false,
                                success: function (checkedData) {
                                    var ss = JSON.stringify(ret.content);
                                    if (ret.result) {
                                        self.AuthTree.treeview({
                                            //data: self.GetComboxData(data, 'NavTitle'),
                                            data: ret.content,
                                            //color:'#428bca',
                                            color: 'Gray',
                                            showTags: true,
                                            showIcon: false,
                                            showCheckbox: true,

                                            onNodeChecked: function (event, node) {
                                                //$('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');
                                            },
                                            onNodeUnchecked: function (event, node) {
                                                //$('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
                                            },
                                            onNodeCollapsed: function (event, node) {
                                                //layer.alert(111);
                                            },
                                            onNodeExpanded: function (event, node) {
                                                //var d = JSON.parse(checkedData);
                                                if (checkedData.result) {
                                                    debugger;
                                                    for (var y = 0; y < checkedData.content.length; y++) {
                                                        for (var z = 0; z < node.nodes.length; z++) {
                                                            if (node.nodes[z].Role_Value === checkedData.content[y].Role_Value) {
                                                                $('#tree')
                                                                    .treeview('checkNode',
                                                                        [node.nodes[z].nodeId, { silent: true }]);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        })
                                            .treeview('collapseAll', { silent: true });

                                        //console.info(checkedData);

                                        $("#AuthModal").modal("show");
                                        if (ret.result) {

                                            //var g = JSON.parse(checkedData);
                                            self.SetNode(checkedData.content);
                                        }
                                    }
                                }
                            });
                        }
                    }
                });
            };
            self.AuthUpdate = function () {
                debugger;

                var id = $("input[name='Operates']").val();
                var nodes = self.AuthTree.treeview('getSiblings', { silent: true });
                var checkModel = [];
                for (var i = 0; i < nodes.length; i++) {
                    var nodeModel = { id: nodes[i].Role_Value, status: nodes[i].state.checked };
                    checkModel.push(nodeModel);
                    if (nodes[i].nodes.length > 0) {
                        for (var x = 0; x < nodes[i].nodes.length; x++) {
                            checkModel.push({ id: nodes[i].nodes[x].Role_Value, status: nodes[i].nodes[x].state.checked });
                        }
                    };
                }
                var param = {
                    json: JSON.stringify(checkModel),
                    id: JSON.stringify(id)
                };
                $.ajax({
                    url: "/api/AdminManage/Put",
                    data: param,
                    type: "post",
                    dataType: "json",
                    async: false,
                    success: function (ret) {
                        if (ret.result) {
                            $("#AuthModal").modal("hide");
                            alert("设置成功");

                        }
                    }
                });
            };
            self.SetNode = function (d) {
                debugger;
                var nodes = self.AuthTree.treeview('getSiblings', { silent: true });
                var checkModel = [];
                for (var i = 0; i < nodes.length; i++) {

                    var nodeModel = { Role_Value: nodes[i].Role_Value, nodeId: nodes[i].nodeId };
                    checkModel.push(nodeModel);
                }
                for (var y = 0; y < d.length; y++) {
                    for (var z = 0; z < checkModel.length; z++) {
                        if (checkModel[z].Role_Value === d[y].Role_Value) {
                            $('#tree').treeview('checkNode', [checkModel[z].nodeId, { silent: true }]);
                        }
                    }
                }
            }
            //全选
            self.AuthSelectAll = function () {
                debugger;
                self.AuthTree.treeview('checkAll', { silent: true });//选中所有

            };
            //全不选
            self.AuthUnSelectAll = function () {
                self.AuthTree.treeview('uncheckAll', { silent: $('#chk-check-silent').is(':checked') });
            }
        }();
        ko.applyBindings(KObj);
    });
</script>