<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:context="http://www.springframework.net/context" >
  <object name="GoodInfoService" type="Bayetech.Service.Services.GoodInfoService,Bayetech.Service"></object>
  <object name="OrderService" type="Bayetech.Service.Services.OrderService,Bayetech.Service"></object>
  <object id="BaseService" type="Bayetech.Service.BaseService&lt;Bayetech.Core.Entity.Category>,Bayetech.Service"></object>
  <object name="NavigationService" type="Bayetech.Service.NavigationService,Bayetech.Service"></object>
  <object name="UserService" type="Bayetech.Service.UserService,Bayetech.Service"></object>
  <object name="LogionService" type="Bayetech.Service.LogionService,Bayetech.Service"></object>
  <object name="AdminManageService" type="Bayetech.Service.AdminManageService,Bayetech.Service"></object>

</objects>