<div class="col-md-9 col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="right-buy-title">
                商品管理 <span style="margin-left: 5px;font-style:italic;font:8px;">切换 </span>
                <a href="javascript:void(0);" id="queryType" style="color:#3D86EA;font:12px;" onclick="changeQueryType()">历史查询</a>
                <a id="queryHelp" style="font-weight: lighter;color:black;">
                    <span class="fa fa-question-circle" title="为了方便您的查询，在您切换到历史查询状态时，您可以查询您的所有历史订单明细。"></span>
                </a>
            </h5>
        </div>
        <div class="panel-body">
            <form id="queryForm" method="post" class="form-horizontal" role="form">
                <!--搜索框组件的位置 start-->
                <div class="form-group form-group-xs">
                    <label for="game" class="col-md-1 control-label">游戏</label>
                    <div class="col-md-4">
                        <select v-model="Param.GameId" id="game" class="form-control">
                            <option v-for="item in Games" value="item.GameId">{{item.GameName}}</option>
                        </select>
                    </div>
                    <label for="goodsType" class="col-md-2 control-label">商品类型</label>
                    <div class="col-md-4">
                        <select v-model="Param.GoodTypeId" id="goodsType" class="form-control">
                            <option v-for="item in Types" value="item.Id">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label for="gameArea" class="col-md-1 control-label">游戏区</label>
                    <div class="col-md-4">
                        <select v-model="Param.GameGroupId" id="gameArea" class="form-control">
                            <option v-for="item in Groups" value="item.Id">{{item.Name}}</option>
                        </select>
                    </div>
                    <label for="gameServer" class="col-md-2 control-label">游戏服</label>
                    <div class="col-md-4">
                        <select v-model="Param.GameServerId" id="gameServer" class="form-control">
                            <option v-for="item in Servers" value="item.Id">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-md-1 control-label">创建时间</label>
                    <div class="col-md-4">
                        <div class="input-daterange input-group datepicker">
                            <input type="text" class="input-sm form-control " id="StartTime" name="StartTime" v-model="Param.StartTime">
                            <span class="input-group-addon">到</span>
                            <input type="text" class="input-sm form-control" id="EndTime" name="EndTime" v-model="Param.EndTime">
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-md-1 control-label">标题关键字</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" v-model="Param.GoodKeyWord" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" @click="GetList" class="btn btn-warning btn-xs">查询</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--搜索框组件的位置 end-->
                <div class="game-order-list">
                    <!--<div class ="myxssl">
                        <span>每页显示数量：</span>
                        <a type="pageSize" size="10" @click="GetSizePage(10)">10</a>
                        <a type="pageSize" size="20" @click="GetSizePage(20)">20</a>
                        <a type="pageSize" size="30" @click="GetSizePage(30)">30</a>
                    </div>-->
                    <nav aria-label="show number" class="text-center list-num-group">
                        <ul id="" class="pagination">
                            <li><span>每页显示数量</span></li>
                            <li>
                                <a type="pageSize" size="10" @click="GetSizePage(10)">10 <span class="sr-only">(current) </span></a>
                            </li>
                            <li>
                                <a type="pageSize" size="20" @click="GetSizePage(20)">20 <span class="sr-only">(current) </span></a>
                            </li>
                            <li>
                                <a type="pageSize" size="30" @click="GetSizePage(30)">30 <span class="sr-only">(current) </span></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="nave">
                        <ul id="nave">
                            <li @click="ChangeStatus('all')" class="" status="all"><a href="javascript:void(0)">全部</a></li>
                            <li @click="ChangeStatus(0)" class="active" status="0"><a href="javascript:void(0)">出售中</a></li>
                            <li @click="ChangeStatus(-1)" class="" status="-1"><a href="javascript:void(0)">审核中</a></li>
                            <li @click="ChangeStatus(1)" class="" status="1"><a href="javascript:void(0)">已下架</a></li>
                        </ul>
                    </div>
                    <div class="ddxq">
                        <ul>
                            <li class="spmc">商品名称</li>
                            <li class="zj">总价</li>
                            <li class="sl">库存</li>
                            <li class="khfw">创建时间</li>
                            <li class="ddzt">商品状态</li>
                        </ul>
                    </div>
                    <div id="menud_con">
                        <div class="ddlb" v-for="item in goods">
                            <h1>
                                订单编号：{{item.OrderNo}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 创建时间：{{item.OrderCreatTime.replace('T',' ')}}
                                <span style="float: right;color:red;margin:0 7px 0 0; *margin:-30px 7px 0 0;">
                                    <a href="../goods-buying-G10-100001-1.html">
                                        <span class="span1" style="color:#FF6600;size: 12px;font-family:'宋体';margin-right:10px;">
                                        </span>
                                    </a>
                                </span>
                            </h1>
                            <ul class="clearfix" goodsid="1" ver="72411" gtid="100001" gameid="G10" orderid="item.OrderNo" sellertype="B" billstatus="4">
                                <ol class="spmc">
                                    <span style="color:#36c">
                                        <img src="http://pic.7881.com/7881/market/images/buy/buy_dan.png" />{{item.GoodTitle}}
                                    </span>
                                    <br />
                                    游戏区服：{{item.GameName}}/{{item.GroupName}}/{{item.ServerName}}
                                </ol>
                                <ol class="zj"><span style="color:#F90">{{item.OrderPrice}}</span>元</ol>
                                <ol class="sl">
                                    1
                                    <br />
                                    <span class="button1" style="display: none"><a href='../goods-buying-G10-100001-1.html'>再来一单</a></span>
                                </ol>
                                <ol class="khfw">
                                    <a href="javascript:void(0)" class="list-kf">
                                        <img src="http://pic.7881.com/7881/market/images/list-kf-icon.png" alt="" />
                                    </a>
                                </ol>
                                <ol class="ddzt">
                                    取消
                                    <div class="tsgrzx">
                                        <img src="http://pic.7881.com/7881/market/images/Personal/qxyy.png" />
                                    </div>
                                    <a class="ls" href="/payment/endPayout.action?orderid=127121015129162378197536&source=list" target="_blank">订单详情</a>
                                </ol>
                                <ol id="prompt_127121015129162378197536" marginpt="-1" type="revoke" class="prompt" superbillid="127121015129162378197536">
                                    <div style="width:205px; height:65px; margin:0 auto; margin-top:12px;"></div>
                                </ol>
                            </ul>
                        </div>
                    </div>
                    <nav aria-label="fenye" class="text-center ">
                        <ul id="paginator-test" class="pagination"></ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>
</div>