<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <add name="BayetechEntities" connectionString="metadata=res://*/Entity.Bayetech.csdl|res://*/Entity.Bayetech.ssdl|res://*/Entity.Bayetech.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.159.211.34;initial catalog=Bayetech;persist security info=True;user id=sa;password=sh.1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>



